
 <script src='https://www.google.com/recaptcha/api.js'></script>
      <section>
           <div class="container" style="background-color: gray" >
               <div class="col-md-6 col-md-offset-3" >
        
                    <form class="form-horizontal" name="careerForm" method="post" style="padding-top: 20px; ">
                        
                            <h2 class="text-center header text1">Upload Your Profile</h2>
                            <input type="hidden"  ng-model="formData._id">
                            <div class="form-group">
                               <div class="col-md-2 col-xs-12"> <label class="text1" style="padding-top: 5px;">Name :</label></div>
                                <div class="col-md-10 col-xs-12">
                                    <input id="name" name="name" type="text" placeholder="Enter Name Here" ng-model="formData.clientName" class="form-control" ng-required="true">
                                     <div ng-show="careerForm.name.$touched && careerForm.name.$invalid">
                                         <small style="color: red; display: block; text-align: center">Please Enter Name</small>
                                     </div>
                                </div>
                            </div>

                          
                     <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4 col-xs-12"> <label class="text1" style="padding-top: 5px;">Email Id :</label></div>
                                <div class="col-md-8 col-xs-12">
                                    <input id="email" name="email" type="email" placeholder="Email Address" ng-model="formData.email" class="form-control" ng-required="true">
                                     <div ng-show="careerForm.email.$touched && careerForm.email.$invalid">
                                         <small style="color: red; display: block; text-align: center">Please Enter Valid email</small>
                                     </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-5 col-xs-12"> <label class="text1 pull-right" style="padding-top: 5px;">Mobile No. :</label></div>
                                <div class="col-md-7 col-xs-12">
                                    <input id="phone" name="phone" type="text" placeholder="Mobile" ng-model="formData.phone" class="form-control" ng-required="true">
                                     <div ng-show="careerForm.phone.$touched && careerForm.phone.$invalid">
                                         <small style="color: red; display: block; text-align: center">Please Enter Valid Mobile No.</small>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>

                            <div class="form-group">
                                 <div class="col-md-2 col-xs-12"> <label class="text1" style="padding-top: 5px;">Address :</label></div>
                                <div class="col-md-10 col-xs-12">
                                    <textarea class="form-control" id="message" name="message" ng-model="formData.address" placeholder="Enter your Address for us here." rows="3" ng-required="true"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                               <div class="col-md-2 col-xs-12"> <label class="text1" style="padding-top: 5px;">Upload Resume :</label></div>
                                <div class="col-md-10 col-xs-12">
                                    <input id="name" name="name" type="file" ng-model="formData.file" class="form-control" ng-required="true">
                                     <div ng-show="careerForm.Businessname.$touched && careerForm.Businessname.$invalid">
                                         <small style="color: red; display: block; text-align: center">Please upload Resume</small>
                                     </div>
                                </div>
                            </div>
                            
                             <div  id="recaptcha" ng-required="true">
                                <div class="g-recaptcha center-block" data-sitekey="6LfxPhMUAAAAAMGDdjN1FQ4eCY_fRL3ejKXAu5dj" style="text-align: center" ></div>
                             </div><br/>
                            <div class="form-group">
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-primary btn-lg" ng-disabled="careerForm.$invalid">Send</button>
                                </div>
                            </div>
                        
                    </form>
               </div>
        </div>
</section>
