<h2>Packages</h2>

<!-- PRICING TABLE STYLE 1-->
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">
            <div class="price_table_container">
                <div class="price_table_heading">Silver</div>
                <div class="price_table_body">
                    <div class="price_table_row cost warning-bg"><strong>Rs. 5,000</strong><span>/YEAR</span></div>
                    <div class="price_table_row">1 Portal Listing</div>
                    <div class="price_table_row">Mini Website</div>
                    <div class="price_table_row">SEO</div>
                    <div class="price_table_row">Cross E-mailing Marketing</div>
                    <div class="price_table_row">Ads on every page</div>
                    <div class="price_table_row">Bizzbazar Domain</div>
                    <div class="price_table_row">5 main Links</div>
                    <div class="price_table_row">10 Sub Links</div>
                    <div class="price_table_row">No E-mails service</div>
                    <div class="price_table_row">Pre-design Template</div>
                    <div class="price_table_row">500 email campaign(x2)</div>
                    <div class="price_table_row">3 No Facebook Promotion</div>
                </div>
                <a href="#" class="btn btn-warning btn-lg btn-block">Sign Up</a>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">

            <div class="price_table_container">
                <div class="price_table_heading">Gold</div>
                <div class="price_table_body">
                    <div class="price_table_row cost primary-bg"><strong>Rs. 8,000</strong><span>/YEAR</span></div>
                    <div class="price_table_row">Portal Listing</div>
                    <div class="price_table_row">Mini Website</div>
                    <div class="price_table_row">SEO</div>
                    <div class="price_table_row">Cross E-mailing Marketing</div>
                    <div class="price_table_row">No Ads page</div>
                    <div class="price_table_row">Bizzbazar Domain</div>
                    <div class="price_table_row">5 main Links</div>
                    <div class="price_table_row">10 Sub Links</div>
                    <div class="price_table_row">No E-mails service</div>
                    <div class="price_table_row">Pre-design Template</div>
                    <div class="price_table_row">500 email campaign(x2)</div>
                    <div class="price_table_row">5 No Facebook Promotion</div>
                </div>
                <a href="#" class="btn btn-primary btn-lg btn-block">Sign Up</a>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">
            <div class="recommended"><strong><span class="fa fa-heart" aria-hidden="true"></span> RECOMMENDED</strong></div>
            <div class="price_table_container">
                <div class="price_table_heading">Platinum</div>
                <div class="price_table_body">
                    <div class="price_table_row cost success-bg"><strong>Rs. 10,000</strong><span>/YEAR</span></div>
                    <div class="price_table_row"> Portal Listing</div>
                    <div class="price_table_row">Mini Website</div>
                    <div class="price_table_row">SEO</div>
                    <div class="price_table_row">Cross E-mailing Marketing</div>
                    <div class="price_table_row">No Ads</div>
                    <div class="price_table_row">Custom Domain</div>
                    <div class="price_table_row">5 main Links</div>
                    <div class="price_table_row">10 Sub Links</div>
                    <div class="price_table_row">2 E-mails</div>
                    <div class="price_table_row">Pre-design Template</div>
                    <div class="price_table_row">1000 email campaign(x4)</div>
                    <div class="price_table_row">5 No Facebook Promotion</div>
                </div>
                <a href="#" class="btn btn-success btn-lg btn-block">Sign Up</a>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">
            <div class="price_table_container">
                <div class="price_table_heading">Diamond</div>
                <div class="price_table_body">
                    <div class="price_table_row cost info-bg"><strong>Rs. 15,000</strong><span>/YEAR</span></div>
                    <div class="price_table_row"> Portal Listing</div>
                    <div class="price_table_row">Mini Website</div>
                    <div class="price_table_row">SEO</div>
                    <div class="price_table_row">Cross E-mailing Marketing</div>
                    <div class="price_table_row">No Ads</div>
                    <div class="price_table_row">Custom Domain</div>
                    <div class="price_table_row">8 main Links</div>
                    <div class="price_table_row">10 Sub Links</div>
                    <div class="price_table_row">5 E-mails</div>
                    <div class="price_table_row">Custom design</div>
                    <div class="price_table_row">2000 email campaign(x4)</div>
                    <div class="price_table_row">8No Facebook Promotion</div>
                </div>
                <a href="#" class="btn btn-info btn-lg btn-block">Sign Up</a>
            </div>
        </div>
    </div>
</div>
<!-- PRICING TABLE STYLE 1-->

<!-- SPACER-->
<div class="spacer"></div>
<!-- SPACER-->
