<!-- Header -->
<div class="container" style="background-color:#e6e6e6; padding-left:-15px; padding-right:-15px; border-bottom: black 1px solid;">
        <nav class="navbar">
            <div class="container">
                <div class="col-md-12 col-xs-12 col-sm-12" style="padding-top:11px">
                    <div class="col-md-10 col-xs-6">
                        <div class="col-md-2 col-xs-12 text-center">
                            <a href="/" itemprop="logo"><img itemprop="logo" class="img-responsive" src="/assets/img/nxsearch-logo1.png" alt="NX-Search" width="160px" height="65px" /></a>
                        </div>

                    </div>
                    <div class="col-md-2 col-xs-6 text-center" style="margin-top: 20px;" itemscope itemtype="https://schema.org/RegisterAction">
                        <a href="/register"><button type="button" class="btn1 btn1-info"><i class="fa fa-location-arrow" aria-hidden="true"></i><b> Register Free</b></button></a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
<!-- Header End -->
<div class="container" style="text-align: justify; background-color:#fff;padding:50px">
    <div class="col-md-12"><h3 class="text-center">Disclaimer</h3>

    <p>nxsearch.com provides the http://nxsearch.com web site as service to the public and web site owners.<br/></p>

<p>nxsearch.com is not responsible for, and expressly disclaims all liability for, damages of any kind arising out of use, reference to, or reliance on any information contained within the site. While the information contained withinthe site. While the information contained within the site is periodically updated, no guarantee is given that the information provided in this web site is correct, complete, and up to date.<br/></p>

<p>Although the nxsearch.com web site may include links providing direct access to other internet resources, including web sites, nxsearch.com is not responsible for the accuracy or content of information conained in this site.<br/></p>
    </div>
</div>
<!-- Footer -->
<footer class="container" style="background-color:#00334d;padding-left: 0px; padding-right: 0px;">
        <div class="footer" id="footer">
            <div class="container">
                <div class="container">
                    <div class="col-lg-2  col-md-2 col-sm-6 col-xs-6">
                        <h3>About </h3>
                        <ul>
                            <li> <a itemprop="url" href="/aboutus"> About <b> NX-Search</b> </a> </li>
                            <li> <a itemprop="url" href="/career"> Career </a> </li>


                        </ul>
                    </div>
                    <div class="col-lg-3  col-md-3 col-sm-6 col-xs-6">
                        <h3>NX-search</h3>
                        <ul>
                            <li> <a itemprop="url" href="/privacypolicy"> Privacy Policy </a> </li>
                            <li> <a itemprop="url" href="/termsandconditions"> Terms and Conditions </a> </li>
                            <li> <a itemprop="url" href="/disclaimer">Disclaimer</a> </li>
                        </ul>
                    </div>
                    <div class="col-lg-3  col-md-3 col-sm-6 col-xs-6">
                        <h3>Contact Us</h3>
                        <ul>
                            <li> <a itemprop="url" href="/contactus" itemprop="url"> Contact Us </a> </li>
                            <li itemprop="telephone"> <i class="fa fa-mobile fa-2x" aria-hidden="true" style="color: white"></i> +91 8381 05 7555</li>
                        </ul>
                    </div>

                    <div class="col-lg-3  col-md-4 col-sm-6 col-xs-6">
                        <h3> Follow Us </h3>
                        <ul>
                            <li>
                                <!--<a href="#"><img src="assets/img/google-plus-bizzbazar.png" class="img-circle" alt="google-plus_nxsearch" width="35" height="35"></a>-->
                                <a href="https://www.facebook.com/nxsearch" target="blank" itemprop="url"><img src="assets/img/facebook-nxsearch.png" class="img-circle" alt="facebook_nxsearch" width="35" height="35"></a>
                                <a href="https://twitter.com/nxsearch" target="blank" itemprop="url"><img src="assets/img/twitter-nxsearch.png" class="img-circle" alt="twitter_nxsearch" width="35" height="35"></a>
                                <a href="https://www.instagram.com/nxsearch_com/" target="blank" itemprop="url"><img src="assets/img/instagram-nxsearch-logo.png" class="img-circle" alt="instagaram_nxsearch" width="35" height="35"></a>
                                <!-- <a href="#"><img src="assets/img/linkedin-bizzbazar.png" class="img-circle" alt="linkedin_nxsearch" width="35" height="35"></a>
                                
                                <a href="#"><img src="assets/img/instagram-bizzbazar.png" class="img-circle" alt="instagram_nxsearch" width="35" height="35"></a>-->
                            </li>
                        </ul>
                    </div>
                    <!--<div class="col-lg-4  col-md-3 col-sm-6 col-xs-12 ">
                        <h3> SubScribe </h3>
                        <ul>
                            <li>
                                <div class="input-append newsletter-box text-center">
                                    <input type="text" class="full text-center" placeholder="Email ">
                                    <button class="btn  btn-info" type="button"> Subscribe <i class="fa fa-long-arrow-right"> </i> </button>
                                </div>
                            </li>
                        </ul>

                    </div>-->
                </div>
            </div>
        </div>


        <div class="footer-bottom">
            <div class="container">
                <p class="text-center"> Copyright © <b><a href="/" itemprop="url">NX-Search</a></b> 2017. All right reserved. </p>
            </div>
        </div>
       

</footer>
<!-- Footer End -->  