 <!-- Header -->
<!-- Header -->
				<header id="header" class="kw-header kw-dark">

				

				<!-- - - - - - - - - - - - - - End of Header Top Bar - - - - - - - - - - - - - - - - -->

				<!-- - - - - - - - - - - - - - Header Section - - - - - - - - - - - - - - - - -->

				<div class="kw-hsection kw-sticky">

					<div class="kw-sm-table-row row">

						<div class="col-sm-2 col-md-2">

							<!-- - - - - - - - - - - - - - Logo - - - - - - - - - - - - - - - - -->

							<a href="/">

								<img src="assets/img/NX-LOGO-300x66.png" alt="">

							</a>

							<!-- - - - - - - - - - - - - - End of Logo - - - - - - - - - - - - - - - - -->

						</div>
                        <!-- - - - - - - - - - - - - - sEARCH FORM- - - - - - - - - - - - - - - - -->
                        <div class="col-md-7 col-xs-12 formbackground2" style="padding-top:30px; padding-left: 100px;" ng-controller="InstantSearchController">
                            <div class="col-md-12 col-xs-12">
                                <form>
                                    <div class="col-md-3 col-xs-12 nopadforsearch">

                                        <select class="form-control" select2="" name="city" data-ng-model="client.selectedCityModel" ng-options="c.city as c.city for c in client.cities" ng-disabled="disabled">
                                                                <option value=""><i class="fa fa-map-marker" aria-hidden="true"></i> Select City</option>
                                                            </select>

                                    </div>

                                    <div class="col-md-3 col-xs-12 nopadforsearch">
                                        <div>
                                            <select class="form-control" select2="" name="city" data-ng-model="MainAreas.selectedAreaModel.Area" ng-options="c.Area as c.Area for c in MainAreas.areas | orderBy : 'Area' " ng-disabled="disabled">
                                                                <option value="">Select Area</option>
                                                            </select>
                                            <!--{{MainAreas.selectedAreaModel}}-->
                                        </div>

                                    </div>


                                    <div class="col-md-4 col-xs-12 nopadforsearch">
                                        <div class="form-group" ng-blur="EnableData = false">
                                            <input type="text" name="categoryselect" ng-value="selectedCategory | slug1" ng-keyup="loadClients()" class="formInput" id="exampleInputPassword2" ng-model="searchString" ng-change="callScriptThenServer(searchString)" ng-focus="EnableData= true" ng-click="loadDefaultCategories()" click-anywhere-but-here="EnableData=false" style="height: 50px;"/>

                                            <div ng-show="EnableTextInputResult == false || EnableData" class="scrollable-menu" style="background-color:white; z-index: 2;border: 1px solid grey;position: absolute;padding-left:2px; width: 100%;height:900px;">
                                                <div ng-repeat="i in Categories |  filter : searchString track by $index">
                                                    <a href="" ng-click="gotoResultsPageByCategory(i)">
                                                        <div class="list_dropdown">
                                                            {{i}}
                                                        </div>
                                                    </a>
                                                </div>
                                                <div ng-repeat="i in SubCategories |  filter : searchString track by $index">
                                                    <a href="" ng-click="gotoResultsPageBySubCategory(i)">
                                                        <div class="list_dropdown">
                                                            {{i}}
                                                        </div>
                                                    </a>


                                                </div>

                                                <div ng-repeat="i in clients |filter : {isPaidClient:true}  |  filter : searchString track by $index " ng-click="doSomething($event, 1)">
                                                    <a href="/profile/{{i.City | slugify}}/{{i.Categories | slugifynolower}}/{{i.Area | slugify}}/{{i.ClinicName | slugify | slug}}/{{i._id}}">
                                                        <div class="list_dropdown">
                                                            <b> {{i.ClinicName}}</b>
                                                            <br/>
                                                        </div>
                                                    </a>
                                                </div>

                                                <!--<div ng-repeat="i in clients |  filter : searchString | limitTo:5 track by $index " ng-click="doSomething($event, 1)">
                                                    <a href="/profile/{{i.City | slugify}}/{{i.Categories | slugifynolower}}/{{i.Area | slugify}}/{{i.ClinicName | slugify | slug}}/{{i._id}}">
                                                        <div class="list_dropdown">
                                                            <span class="text-center;">{{i.DoctorName}}</span>
                                                            <br/>
                                                        </div>
                                                    </a>
                                                </div> -->
                                            </div>

                                        </div>
                                        <span class="clearInput" ng-click="clearInput()">X</span>
                                    </div>

                                    <div class="col-md-2 col-xs-12 text-center nopadforsearch">



										<button class="kw-btn-big kw-yellow" style="width:100%" type="submit">Search</button>


                                    </div>
                                </form>
                            </div>
                        </div>


                        <!-- - - - - - - - - - - - - - End of SEARCH FORM - - - - - - - - - - - - - - - - -->

						<div class="col-sm-10 col-xs-12 col-md-3">

							<div class="kw-hcontent ">
                                    

								<!-- - - - - - - - - - - - - - End of Navigation - - - - - - - - - - - - - - - - -->

								<!-- - - - - - - - - - - - - - Add Listing - - - - - - - - - - - - - - - - -->

								<a href="/register" class="kw-btn-medium kw-yellow-type-2">Add Listing</a> 

								<!-- - - - - - - - - - - - - - End of Add Listing - - - - - - - - - - - - - - - - -->

							</div><!--/ .kw-hcontent -->

						</div>

					</div><!--/ .kw-sm-table-row.row -->

				</div>

		</header>
<!-- Header End -->
<div class="container" style="text-align: justify; background-color:#fff;">
    <div style="padding: 45px;">
<h2>India : www.nxsearch.com Privacy Policy</h2>

This Privacy Policy applies to the Nxsearch.com<p></p>

<strong>www.nxsearch.com</strong> recognizes the importance of maintaining your privacy. We value your privacy and appreciate your trust in us. This Policy describes how we treat user information we collect on http://www.nxsearch.com and other offline sources. This Privacy Policy applies to current and former visitors to our website and to our online customers. By visiting and/or using our website, you agree to this Privacy Policy.<p></p>

Nxsearch.com is a property of Weagog Technologies Pvt. Ltd, an Indian Company registered under the Companies Act, 2013 having its registered office at Om Heritage, Office No. 7, Pimple gurav, Pune, Maharashtra, India  - 411061.<p></p>

<h3><b>Information we collect</b></h3><p></p>

<h4><b>Contact information.</b></h4>
        We might collect yourname, email, mobile number, phone number, street, city, state, pin code, country and IP address.<p></p>

<h4><strong>Payment and billing information.</strong> </h4>
        We might collect your billing name, billing address and payment method when you buy a ticket. We NEVER collect your credit card number or credit card expiry date or other details pertaining to your credit card on our website. Credit card information will be obtained and processed by our online payment partner Pay u Money.<p></p>

<h4><strong>Information you post.</strong></h4>
        We collect information you post in a public space on our website or on a third-party social media site belonging to Nxsearch.com.<p></p>

<h4><strong>Demographic information.</strong></h4>
        We may collect demographic information about you, events you like, events you intend to participate in, tickets you buy, or any other information provided by your during the use of our website. We might collect this as a part of a survey also.<p></p>

<h4><strong>Other information.</strong></h4>
        If you use our website, we may collect information about your IP address and the browser you're using. We might look at what site you came from, duration of time spent on our website, pages accessed or what site you visit when you leave us. We might also collect the type of mobile device you are using, or the version of the operating system your computer or device is running.<p></p>

<h3><strong>We collect information in different ways.</strong></h3><p></p>

<h4><strong>We collect information directly from you.</strong> </h4>
    We collect information directly from you when you register for an event or buy tickets. We also collect information if you post a comment on our websites or ask us a question through phone or email.<p></p>

<h4><strong>We collect information from you passively.</strong></h4>
    We use tracking tools like Google Analytics, Google Webmaster, browser cookies and web beacons for collecting information about your usage of our website.<p></p>

<h4><strong>We get information about you from third parties.</strong></h4>
    For example, if you use an integrated social media feature on our websites. The third-party social media site will give us certain information about you. This could include your name and email address.<p></p>

<h3><strong>Use of your personal information</strong></h3><p></p>

<h4><strong>We use information to contact you: </strong></h4>
        We might use the information you provide to contact you for confirmation of a purchase on our website or for other promotional purposes.<p></p>

<h4><strong>We use information to respond to your requests or questions.</strong> </h4>
        We might use your information to confirm your registration for an event or contest.<p></p>

<h4><strong>We use information to improve our products and services.</strong> </h4>
        We might use your information to customize your experience with us. This could include displaying content based upon your preferences.<p></p>

<h4><strong>We use information to look at site trends and customer interests.</strong> </h4>
        We may use your information to make our website and products better. We may combine information we get from you with information about you we get from third parties.<p></p>

<h4><strong>We use information for security purposes.</strong></h4>
        We may use information to protect our company, our customers, or our websites.<p></p>

<h4><strong>We use information for marketing purposes.</strong></h4>
        We might send you information about special promotions or offers. We might also tell you about new features or products. These might be our own offers or products, or third-party offers or products we think you might find interesting. Or, for example, if you buy tickets from us we'll enroll you in our newsletter.<p></p>

<h4><strong>We use information to send you transactional communications.</strong> </h4>
        We might send you emails or SMS about your account or a ticket purchase.<p></p>
        We use information as otherwise permitted by law.<p></p>

<h3><strong>Sharing of information with third-parties</strong><p></p></h3>

<h4><strong>We will share information with third parties who perform services on our behalf. </strong></h4>
        We share information with vendors who help us manage our online registration process or payment processors or transactional message processors. Some vendors may be located outside of India.<p></p>

<h4><strong>We will share information with the event organizers.</strong> </h4>
        We share your information with event organizers and other parties responsible for fulfilling the purchase obligation. The event organizers and other parties may use the information we give them as described in their privacy policies.<p></p>

<h4><strong>We will share information with our business partners.</strong></h4>
        This includes a third party who provide or sponsor an event, or who operates a venue where we hold events. Our partners use the information we give them as described in their privacy policies.
<p></p>
We may share information if we think we have to in order to comply with the law or to protect ourselves.We will share information to respond to a court order or subpoena. We may also share it if a government agency or investigatory body requests. Or, we might also share information when we are investigating potential fraud.<p></p>

We may share information with any successor to all or part of our business.For example, if part of our business is sold we may give our customer list as part of that transaction.<p></p>

We may share your information for reasons not described in this policy.We will tell you before we do this.<p></p>

        <h3><strong>Email Opt-Out</strong></h3><p></p>

<h4><strong>You can opt out of receiving our marketing emails.</strong></h4>
    To stop receiving our promotional emails, please email support@nxsearch.com. It may take about ten days to process your request. Even if you opt out of getting marketing messages, we will still be sending you transactional messages through email and SMS about your purchases.
<p></p>

<h4><strong>Third party sites </strong></h4><p></p>

If you click on one of the links to third party websites, you may be taken to websites we do not control. This policy does not apply to the privacy practices of those websites. Read the privacy policy of other websites carefully. We are not responsible for these third party sites.
<p></p>

<h4><strong>Grievance Officer</strong></h4><p></p>

In accordance with Information Technology Act 2000 and rules made there under, the name and contact details of the Grievance Officer are provided below:<p></p>

Phone: +91 8381057555<p></p>

Email: info@nxsearch.com<p></p>

If you have any questions about this Policy or other privacy concerns, you can also email us at support <a href="mailto:">@nxsearch.com</a>
<p></p>

<h3><strong>Updates to this policy</strong></h3><p></p>

This Privacy Policy was last updated on 21.05.2018. From time to time we may change our privacy practices. We will notify you of any material changes to this policy as required by law. We will also post an updated copy on our website. Please check our site periodically for updates.
<p></p>
<h4><strong>Jurisdiction</strong></h4><p></p>

If you choose to visit the website, your visit and any dispute over privacy is subject to this Policy and the website's terms of use. In addition to the foregoing, any disputes arising under this Policy shall be governed by the laws of India.<p></p>
</div>
</div>
<!-- Footer -->
<!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

			<footer id="footer" class="kw-footer" data-bg="images/section_bg_01.png">



				<div class="container">

					<!-- - - - - - - - - - - - - - Footer Section - - - - - - - - - - - - - - - - -->

					<div class="kw-fsection">

						<div class="kw-footer-widget-area kw-cols-4">

							<div class="col-md-3 col-xs-6">

								<!-- - - - - - - - - - - - - - Widget - - - - - - - - - - - - - - - - -->

								<div class="kw-widget">

									<a href="/" class="kw-footer-logo"><img src="assets/img/NX-LOGO-300x66.png" alt="nxsearxh.com"></a>

									

									<ul class="kw-social-links">

										<li><a href="https://www.facebook.com/nxsearch" target="_blank"><i class="fa fa-facebook"></i></a></li>
										<li><a href=""><i class="fa fa-google-plus" target="_blank"></i></a></li>
										<li><a href="https://twitter.com/nxsearch" target="_blank"><i class="fa fa-twitter"></i></a></li>
										<li><a href="https://www.instagram.com/nxsearch_com/" target="_blank"><i class="fa fa-instagram"></i></a></li>
										<!--<li><a href="#"><i class="fa fa-envelope-o"></i></a></li>-->

									</ul>

								</div>

								<!-- - - - - - - - - - - - - - End of Widget - - - - - - - - - - - - - - - - -->

							</div><!--/ .kw-widget-col -->

							<div class="col-md-3 col-xs-6">

								<!-- - - - - - - - - - - - - - Widget - - - - - - - - - - - - - - - - -->

								<section class="kw-widget">

									<h4 class="kw-widget-title">Company</h4>

									<ul>

										<li><a href="/aboutus">About Us</a></li>										
										<li><a href="/career">Careers</a></li>
										<li><a href="contactus">Contact Us</a></li>

									</ul>

								</section>

								<!-- - - - - - - - - - - - - - End of Widget - - - - - - - - - - - - - - - - -->

							</div><!--/ .kw-widget-col -->

                            <!--/ .kw-widget-col -->

							<div class="col-md-3 col-xs-6">

								<!-- - - - - - - - - - - - - - Widget - - - - - - - - - - - - - - - - -->

								<section class="kw-widget">

									<h4 class="kw-widget-title">Quick Links</h4>

									<ul>

										<li><a href="#">How It Works</a></li>
										<li><a href="#">Add Listing</a></li>
                                        <li><a href="#">Blog</a></li>

									</ul>

								</section>

								<!-- - - - - - - - - - - - - - End of Widget - - - - - - - - - - - - - - - - -->

							</div><!--/ .kw-widget-col -->

							<div class="col-md-3 col-xs-6">

								<!-- - - - - - - - - - - - - - Widget - - - - - - - - - - - - - - - - -->

								<section class="kw-widget">

									<h4 class="kw-widget-title">Terms</h4>

									<ul>										
										<li><a href="/termsandconditions">Terms & Conditions</a></li>
										<li><a href="/privacypolicy">Privacy Policy</a></li>
										<li><a href="/disclaimer">Disclaimer</a></li>

									</ul>

								</section>

								<!-- - - - - - - - - - - - - - End of Widget - - - - - - - - - - - - - - - - -->

							</div><!--/ .kw-widget-col -->

						</div><!--/ .kw-footer-widget-area -->

					</div>

					<!-- - - - - - - - - - - - - - End of Footer Section - - - - - - - - - - - - - - - - -->

				</div><!--/ .container -->

				<!-- - - - - - - - - - - - - - Copyright Section - - - - - - - - - - - - - - - - -->

				<div class="kw-copyright">

					<div class="container">

						<p>Copyright <a href="/">NXsearch</a> &copy; 2017. All Rights Reserved</p>

					</div><!--/ .container -->

				</div>

				<!-- - - - - - - - - - - - - - End of Copyright Section - - - - - - - - - - - - - - - - -->

			</footer>

			<!-- - - - - - - - - - - - - - End of Footer - - - - - - - - - - - - - - - - -->
<!-- Footer End -->
