<div  class="row" ng-controller="sitemapsController" ng-init="initUpdateSitemap()">

            <div class="col-sm-8 col-sm-offset-2 text-center" >
				<form name="citiesform">
					<div class="form-group">
						<label for="Category" >Link</label>
						<input type="hidden" ng-model="formData._id" >
						<input type="text" ng-model="formData.loc" name="city1" class="form-control text-center" placeholder="Enter url" ng-required="true">
						<div ng-show="citiesform.city1.$touched && citiesform.city1.$invalid">
							<small style="color: red; display: block; text-align: center">Please Enter City</small>
						</div>
						
					</div>

					<br />
					<button type="submit" class="btn btn-primary btn-lg" ng-click="createEditRec()" ng-disabled="citiesform.$invalid">{{btnValue}}</button>
				</form>
			</div>
</div>