body {
    font-family: sans-serif, 'Roboto' !important;
    background-color: #477CB8;
}

strong {
    font-weight: 500;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

h1,
h2 {
    margin-top: 10px;
    font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
    font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h4 {
    font-size: 15px !important;
}

@media (max-width: 415px) {
    h3 {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 415px) {
    h5 {
        margin-top: 1px;
        margin-bottom: 10px;
    }
}

img {
    max-width: 100%;
}

::-moz-selection {
    background: #19b9e7;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #19b9e7;
    color: #fff;
    text-shadow: none;
}

.btn-link-1 {
    display: inline-block;
    height: 50px;
    margin: 5px;
    padding: 16px 20px 0 20px;
    background: #19b9e7;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.btn-link-1:hover,
.btn-link-1:focus,
.btn-link-1:active {
    outline: 0;
    opacity: 0.6;
    color: #fff;
}

.btn-link-1.btn-link-1-facebook {
    background: #4862a3;
}

.btn-link-1.btn-link-1-twitter {
    background: #55acee;
}

.btn-link-1.btn-link-1-google-plus {
    background: #dd4b39;
}

.btn-link-1 i {
    padding-right: 5px;
    vertical-align: middle;
    font-size: 20px;
    line-height: 20px;
}

.btn-link-2 {
    display: inline-block;
    height: 50px;
    margin: 5px;
    padding: 15px 20px 0 20px;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.btn-link-2:hover,
.btn-link-2:focus,
.btn-link-2:active,
.btn-link-2:active:focus {
    outline: 0;
    opacity: 0.6;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
}


/***** Top content *****/

.inner-bg {
    padding: 60px 0 80px 0;
}

.top-content .text {
    color: #fff;
}

.top-content .text h1 {
    color: #fff;
}

.top-content .description {
    margin: 20px 0 10px 0;
}

.top-content .description p {
    opacity: 0.8;
}

.top-content .description a {
    color: #fff;
}

.form-box {
    margin-top: 10px;
}

.form-top {
    overflow: hidden;
    padding: 25px 25px 15px 25px;
    background: rgba(28, 77, 107, 0.84);
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.form-top-left {
    float: left;
    width: 100%;
    padding-top: 25px;
}

.form-top-left h3 {
    margin-top: 0;
}

.form-top-right {
    float: left;
    width: 25%;
    padding-top: 5px;
    font-size: 66px;
    color: #ddd;
    line-height: 100px;
    text-align: right;
}

.form-bottom {
    padding: 25px 25px 30px 25px;
    background: #4a85a9;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    text-align: left;
}

.form-bottom form textarea {
    height: 100px;
}

.form-bottom form button.btn {
    width: 100%;
}

.form-bottom form .input-error {
    border-color: #19b9e7;
}

.social-login {
    margin-top: 35px;
}

.social-login h3 {
    color: #fff;
}

.social-login-buttons {
    margin-top: 25px;
}

.middle-border {
    min-height: 300px;
    margin-top: 170px;
    border-right: 1px solid #fff;
    border-right: 1px solid rgba(255, 255, 255, 0.6);
}


/***** Footer *****/

footer {
    padding-bottom: 0px;
    color: #fff;
}

footer .footer-border {
    width: 200px;
    margin: 0 auto;
    padding-bottom: 30px;
    border-top: 1px solid #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
}

footer p {
    opacity: 0.8;
}

footer a {
    color: #fff;
}


/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
    .middle-border {
        min-height: auto;
        margin: 65px 30px 0 30px;
        border-right: 0;
        border-top: 1px solid #fff;
        border-top: 1px solid rgba(255, 255, 255, 0.6);
    }
}

@media (max-width: 415px) {
    h1,
    h2 {
        font-size: 32px;
    }
}

.btn-defaultsearch {
    color: #fff;
    background-color: #477CB8;
    border-color: #ccc;
}

.btn-defaultsearch:hover {
    color: #000000;
    background-color: #fff;
    border-color: #adadad;
}

.Searches {
    font-size: 12px;
    line-height: 13px;
}

.hrline {
    margin-top: 0px;
    margin-bottom: 0px;
}

.dashboard input {
    margin-bottom: 10px;
}

.dashboard textarea {
    margin-bottom: 10px;
}

.tabtitle {
    text-align: center;
}

.topmargin {
    margin-top: 17px;
}

.buttonsearchmargin {
    margin-top: -3px;
}

@media (max-width:415px) {
    .buttonsearchmargin {
        margin-top: 17px;
    }
}

.bottommargin {
    margin-bottom: 20px;
}

.formbackground {
    background-color: #338cb7;
    margin: 10px;
    border: 1px solid #335cb7;
    border-radius: 4px;
    padding-left: 10px;
}

.formbackground2 {
    border-radius: 4px;
    padding: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
    -webkit-animation-name: example;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s;
    /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@media (max-width:415px) {
    .formbackground2 {
        border-radius: 4px;
        padding: 0px;
        margin-bottom: 5px;
        margin-top: 5px;
        -webkit-animation-name: eample;
        /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 4s;
        /* Safari 4.0 - 8.0 */
        animation-name: eample;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes example {
    0% {
        background-color: #3f8ed2;
    }
    25% {
        background-color: #76a7d2;
    }
    50% {
        background-color: #7098bb;
    }
    100% {
        background-color: #3f8ed2;
    }
}


/* Standard syntax */

@keyframes example {
    0% {
        background-color: #278db3;
    }
    25% {
        background-color: #6261a7;
    }
    50% {
        background-color: #4c7bb5;
    }
    100% {
        background-color: #288bb2;
    }
}

.well_new {
    min-height: 20px;
    padding: 10px ! important;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.list_borderd {
    border: 1px solid #1e97cc !important;
    padding: 10px;
}

.list_borderd:hover {
    box-shadow: 0 0 5px #1b6d85;
}

.lineheight {
    line-height: inherit;
}

.list_specialty {
    font-size: 12px;
    line-height: 19px;
}

.btn-booking {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    background-color: #5bc0de;
    border: 1px solid #080808;
    color: #fff;
}

.list_dropdown {
    background: #fff;
    padding: 10px;
    border-bottom: 1px solid rgba(63, 142, 210, 0.32);
    text-decoration: none;
    color: black;
}

.list_dropdown a {
    text-decoration: none;
    color: black;
}

.list_dropdown:hover {
    background: #cee1ff;
    box-shadow: 0 0 5px #2bace0;
}

.navbar-toggle1 {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 25px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid #999;
    border-radius: 4px;
}

.navbar-toggle1:focus {
    outline: 0;
}

.navbar-toggle1 .icon-bar {
    /*display: block;*/
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-toggle1 .icon-bar+.icon-bar {
    margin-top: 4px;
}

@media (min-width: 768px) {
    .navbar-toggle1 {
        display: none;
    }
}

.sidebarLinks {
    padding-bottom: 8px;
    padding-top: 8px;
    border-bottom: 1px solid #dce0e0;
    display: block;
}

.sidebarLinks a {
    text-decoration: none;
}

.sidebarLinks a:hover {
    border-bottom: 1px solid #2bace0;
}

.sidebarList {
    border-radius: 2px;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #dce0e0;
    /* margin-top: 10px;*/
    padding: 16px !important;
}

.bottomlinks {
    text-decoration: none;
}

.bottomlinks ul {
    /* overflow: auto;*/
}

.bottomlinks li {
    float: left;
}

.bottomlinks li a {
    display: block;
    padding-right: 32px;
}

.subs label {
    font-weight: normal;
    cursor: pointer;
}

.thumbnail_home {
    display: block;
    padding-left: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    width: 55px;
}

.btn1 {
    display: inline-block;
    padding: 3px 15px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
}

@media (max-width:415px) {
    .btn1 {
        display: inline-block;
        padding: 3px 3px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 0px;
    }
}

.btn1-info {
    color: #fff;
    background-color: #33b3e2;
    border-color: #46b8da;
}

.btn2 {
    display: inline-block;
    /* padding: 6px 35px; */
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
}

.btn2-info {
    color: #fff;
    background-color: #33b3e2;
    border-color: #46b8da;
    width: 100%;
}

.btn3 {
    display: inline-block;
    padding: 6px 35px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
}

.btn3-info {
    color: #fff;
    background-color: #5c67c3;   
    width: 50%;
}

.Profile_title {
    white-space: nowrap;
    width: 98%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list_borderd h5,
h4,
h6 {
    margin-top: 3px;
    margin-bottom: 3px;
}

.list_specialty h6 {
    font-size: 11px;
    line-height: 13px;
}

.Profile_time {
    white-space: nowrap;
    width: 98%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.listing_image {
    position: absolute;
    border: 1px solid #33b3e2;
}


/* Home tabs */

.nav-tabsH {
    border-bottom: 1px solid #ddd;
}

.nav-tabsH>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabsH>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.nav-tabsH>li>a:hover {
    border-color: #eee #eee #ddd;
    background-color: rgba(30, 151, 204, 0.55);
}

.nav-tabsH>li.active>a,
.nav-tabsH>li.active>a:hover,
.nav-tabsH>li.active>a:focus {
    color: #fff;
    cursor: default;
    background-color: #1e97cc;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nav-tabsH.nav-justified {
    width: 100%;
    border-bottom: 0;
}

.nav-tabsH.nav-justified>li {
    float: none;
}

.nav-tabsH.nav-justified>li>a {
    margin-bottom: 5px;
    text-align: center;
}

.nav-tabsH.nav-justified>.dropdown .dropdown-menu {
    top: auto;
    left: auto;
}

@media (min-width: 768px) {
    .nav-tabsH.nav-justified>li {
        display: table-cell;
        width: 1%;
    }
    .nav-tabsH.nav-justified>li>a {
        margin-bottom: 0;
    }
}

.nav-tabsH.nav-justified>li>a {
    margin-right: 0;
    border-radius: 4px;
}

.nav-tabsH.nav-justified>.active>a,
.nav-tabsH.nav-justified>.active>a:hover,
.nav-tabsH.nav-justified>.active>a:focus {
    border: 1px solid #ddd;
}

@media (min-width: 768px) {
    .nav-tabsH.nav-justified>li>a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }
    .nav-tabsH.nav-justified>.active>a,
    .nav-tabsH.nav-justified>.active>a:hover,
    .nav-tabsH.nav-justified>.active>a:focus {
        border-bottom-color: #fff;
    }
}

.bredcrumb h1 {
    font-size: 12px;
    display: inline;
    line-height: 28px;
}
.similarsearches h1{
    font-size: 12px;
    display: inline;
    padding-left: 10px;
    line-height: 15px;
    color : #337ab7;
}

.bredcrumb1 h1 {
    font-size: 21px;
    display: inline;
    padding-left: 10px;
    line-height: 60px;
}

.formControlModal {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-bottom: 1px solid #ccc !important;
    border-left: none;
    border-top: none;
    border-right: none;
    border-radius: 0px;
    margin-bottom: 15px;
}

.formControlModal:focus {
    border-color: 1px solid #ccc !important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.glyphicn {
    position: relative;
    right: 20px;
    top: 28px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    opacity: 0.4;
}

@media (max-width:415px) {
    .glyphicn {
        position: relative;
        right: 74px;
        top: 83px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        cursor: pointer;
        opacity: 0.4;
    }
}

.NoWrap {
    white-space: nowrap;
}

.left-pad-form {
    padding-left: 28px
}

@media (max-width:415px) {
    .left-pad-form {
        padding-left: 0px
    }
}

.modal-open {
    padding-right: 0 !important;
}

.nopadforsearch {
    padding-left: 0px;
    padding-right: 0px;
}

.btnsrch {
    position: relative;
    right: 13px;
}

@media(max-width:415px) {
    .btnsrch {
        position: relative;
        right: 2px;
        margin-top: -3px !important;
    }
}

.clearInput {
    position: relative;
    cursor: pointer;
    right: 25px;
    top: 10px;
}

@media(max-width:415px) {
    .clearInput {
        position: relative;
        cursor: pointer;
        right: 26px;
        top: 27px;
    }
}

.formInput {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.Add_Client_form{
     background-image: none;
}

.Add_Client_form input:focus{
    background: #FDFFFF;
    border: 1px solid #D8F5F2;
    border-width: 1px;
    
}
.Add_Client_form .TitleBoxAC{
    
    margin-bottom: 21px;
    color: #FFFFFF !important;
    background: #1ca7d0;
    background-size: cover;
    background-repeat: repeat;
    background-position: 50% 50%;
    
}

.Add_Client_form .inputMargin{
    
    padding-left:15px;
    padding-right: 15px; 
    
}
.dash_head{
    background-color:#e6e6e6; 
    padding-left:-15px; 
    padding-right:-15px;
     border-bottom: black 1px solid; 
     position: fixed;
}

.dash_sidebar{
        bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #222222;
    border-right: 1px solid #eee;
    height: 100%;
    position: fixed;
    top: 86px;
}

.bgr{
    background-image: url("/assets/img/2.jpg"); 
    background-color: #cccccc;
}

/* Popup window css 

body{
    height:400px;
    position: fixed;
    bottom: 0;
}*/
.col-md-2, .col-md-10{
    padding:0;
}
.panel{
    margin-bottom: 0px;
}
@media (min-width: 1369px) {
.chat-window{
    bottom:0;
    position:fixed;
    float:right;
    margin-left:1537px;
}
}

@media (min-width: 1365px) {
.max-device{
    padding-left: 20px;
}
}

@media (max-width:415px) {
    .sponsor {
    right: -11px !important; 
    color: gray ;
    bottom: 38px !important;
    }
}
    
@media (max-width: 1369px) {
    .chat-window {
        
        bottom:0;
        position:fixed;
        float:right;
        margin-left:1012px;
    }
}
@media (device-width: 1024px) {
.chat-window{
    bottom:0;
        position:fixed;
        float:right;
        margin-left:724px;
}
}
@media (device-width: 768px) {
.chat-window{
    bottom:0;
        position:fixed;
        float:right;
        margin-left:470px;
}
}

@media (device-width: 360px) {
.chat-window{
    bottom:0;
        position:fixed;
        float:right;
        margin-left:12px;
}
}

@media (device-width: 412px) {
.chat-window{
    bottom:0;
        position:fixed;
        float:right;
        margin-left:36px;
}
}

@media (max-width: 414px) {
.chat-window{
    bottom:0;
        position:fixed;
        float:right;
        margin-left:0px;
}
}

@media (min-width: 1369px) {
.window-width{
    width: 366px !important;
}
}
@media (max-width: 1369px) {
 .window-width{
    width: 337px;
}
}

@media (device-width: 768px) {
 .window-width{
    width: 292px;
}
}
@media (device-width: 1024px) {
 .window-width{
    width: 300px;
}
}
.chat-window > div > .panel{
    border-radius: 5px 5px 0 0;
}
.icon_minim{
    padding:2px 10px;
}
.msg_container_base{
  background: #e5e5e5;
  margin: 0;
  padding: 0 10px 10px;
  max-height:300px;
  overflow-x:hidden;
}
.top-bar {
  background: #666;
  color: white;
  padding: 10px;
  position: relative;
  overflow: hidden;
  background-color: #7e88d8 !important;
}
.msg_receive{
    padding-left:0;
    margin-left:0;
}
.msg_sent{
    padding-bottom:20px !important;
    margin-right:0;
}
.messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  max-width:100%;
}
.messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
  }
.messages > time {
    font-size: 11px;
    color: #ccc;
}
.msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}
.avatar {
    position: relative;
}
.base_receive > .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.base_sent {
  justify-content: flex-end;
  align-items: flex-end;
}
.base_sent > .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2); // not quite perfect but close
}

.msg_sent > time{
    float: right;
}



.msg_container_base::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.btn-group.dropup{
    position:fixed;
    left:0px;
    bottom:0;
}

.newlayout{
    padding: 25px 0px;
    background: url(/assets/img/headerbg.jpg) center top no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.newlayout .btn1-info {
    color: #fff;
    background-color: #041f29;
    border-color: #ffffff;
}

.sponsor{
    margin-top: -10px;
    position: absolute;
    right: 0;
    color: gray;
    bottom: 0;
}
@media (max-width:415px) {
    .mobile-view {
        margin-top: 200px
    }
}

@media (max-width:415px) {
    .div-service {
        display: none;
    }
}

@media (max-width:415px) {
    .sponsorimg {
        width: 100px;
        height: 100px;
    }
}
.fb{
    color: #5c83d6; 
}
.fb:hover{
    color:#3b5998 ;
}
.twit{
    color:  #00aced;
    margin-left: 10px;
}
.twit:hover{
    color: #5c83d6;
}
.insta{
    color:  #cd486b;
    margin-left: 10px;
}
.insta:hover{
    color: #5c83d6;
}
/*chat window :start*/
#chat,#chat:after,.chatbox{transition:all .4s ease-in-out}

#chat,#close-chat,.minim-button,.maxi-button,.chat-text{font-weight:700;cursor:pointer;font-family:Arial,sans-serif;text-align:center;height:20px;line-height:20px}

#chat,#close-chat,.chatbox{border:1px solid #A8A8A8}

#chat:after,#chat:before{position:absolute;border-style:solid;content:""}

.chatbox{position:fixed;bottom:0;right:50px;margin:0 0 0px;background:#fff;border-bottom:none;padding:28px 10px 10px;z-index:100000}

#close-chat{position:absolute;top:2px;right:2px;font-size:24px;border:1px solid #dedede;width:20px;background:#fefefe;z-index:2}

#minim-chat,#maxi-chat{position:absolute;top:0;left:0;width:100%;height:20px;line-height:20px;cursor:pointer;z-index:1}

.minim-button{position:absolute;top:2px;right:26px;font-size:24px;border:1px solid #dedede;width:20px;background:#fefefe}

.maxi-button{position:absolute;top:2px;right:26px;font-size:24px;border:1px solid #dedede;width:20px;background:#fefefe;}

.chat-text{position:absolute;top:5px;left:10px;font-size:16px;}

#chat{width:40px;border-radius:3px;padding:2px 8px;font-size:12px;background:#fff;-webkit-transform:translateZ(0);transform:translateZ(0)}

#chat:before{border-width:10px 11px 0 0;border-color:#A8A8A8 transparent transparent;left:7px;bottom:-10px}

#chat:after{border-width:9px 8px 0 0;border-color:#fff transparent transparent;left:8px;bottom:-8px}

#chat:hover{background:#ddd;-webkit-animation-name:hvr-pulse-grow;animation-name:hvr-pulse-grow;-webkit-animation-duration:.3s;animation-duration:.3s;-webkit-animation-timing-function:linear;animation-timing-function:linear;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-direction:alternate;animation-direction:alternate}

#chat:hover:after{border-color:#ddd transparent transparent!important}

.animated-chat{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}

@-webkit-keyframes tada{0%{-webkit-transform:scale(1)}


10%,20%{-webkit-transform:scale(.9)rotate(-3deg)}

30%,50%,70%,90%{-webkit-transform:scale(1.1)rotate(3deg)}
40%,60%,80%{-webkit-transform:scale(1.1)rotate(-3deg)}
100%{-webkit-transform:scale(1)rotate(0)}
}
@keyframes tada{0%{transform:scale(1)}
10%,20%{transform:scale(.9)rotate(-3deg)}
30%,50%,70%,90%{transform:scale(1.1)rotate(3deg)}
40%,60%,80%{transform:scale(1.1)rotate(-3deg)}
100%{transform:scale(1)rotate(0)}
}
.tada{-webkit-animation-name:tada;animation-name:tada}
@-webkit-keyframes hvr-pulse-grow{to{-webkit-transform:scale(1.1);transform:scale(1.1)}
}
@keyframes hvr-pulse-grow{to{-webkit-transform:scale(1.1);transform:scale(1.1)}
}

/*chat window :end*/