<script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-64739177-2', 'auto');
    ga('send', 'pageview');
</script>
<script>
    $(function() {
        $('.nav-tabsH a').on('click', function(e) {
            e.preventDefault();
            $(this).tab('show');
        });
    });

    $(function() {
        $('.navbar-toggle1 collapsed').on('click', function(e) {
            $(this).tab('show');
        });
    });

    $(function() {
        $('.navbar-nav .open .dropdown-menu').on('click', function(e) {
            $(this).tab('hide');
        });
    });
</script>
<script>
    window.onload = function() {
        document.getElementById("#area").onchange = function() {
            document.getElementByName("categoryselect")[0].focus();
        }
    }
</script>
<!-- Header -->
<div class="container" style="background-color:#e6e6e6; padding-left:-15px; padding-right:-15px; border-bottom: black 1px solid;">
        <nav class="navbar">
            <div class="container">
                <div class="col-md-12 col-xs-12 col-sm-12" style="padding-top:11px">
                    <div class="col-md-10 col-xs-6">
                        <div class="col-md-2 col-xs-12 text-center">
                            <a href="/" itemprop="logo"><img itemprop="logo" class="img-responsive" src="/assets/img/nxsearch-logo1.png" alt="NX-Search" width="160px" height="65px" /></a>
                        </div>

                    </div>
                    <div class="col-md-2 col-xs-6 text-center" style="margin-top: 20px;" itemscope itemtype="https://schema.org/RegisterAction">
                        <a href="/register"><button type="button" class="btn1 btn1-info"><i class="fa fa-location-arrow" aria-hidden="true"></i><b> Register Free</b></button></a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
<!-- Header End --> 
<!-- Page Container  -->   
<div class="container" style="background-color:#fff; padding-bottom:50px;" ng-controller="InstantSearchController" itemscope itemtype="http://schema.org/LocalBusiness">

    <div class="col-lg-12">
        <div class="tabtitle">
            <h3>Search Your Requirement</h3>
            <div id="mymodal1" style="color: red;"></div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-10 col-xs-10 formbackground2 col-md-offset-1 col-xs-offset-1 col-xs-offset-1" >
            <div class="col-md-12 col-xs-12" style="padding-left: 28px">
                <form formAutofillFix>
                    <div class="col-md-3 col-xs-11 pull-left" style="padding-top: 20px">

                       
                        <select class="form-control" select2="" name="city" data-ng-model="client.selectedCityModel" ng-options="c.city as c.city for c in client.cities" ng-disabled="disabled">
												<option value=""><i class="fa fa-map-marker" aria-hidden="true"></i> </option>
											</select>
                      
                    </div>

                    <div class="col-md-3 col-xs-11 pull-left" style=" padding-top: 20px">
                        <div>
                           
                            <select id="area" onchange="document.getElementsByName('categoryselect')[0].focus()" class="form-control" select2="" name="area" data-ng-model="MainAreas.selectedAreaModel.Area" ng-options="c.Area as c.Area for c in MainAreas.areas | orderBy : 'Area' "
                                ng-disabled="disabled" required>
												<option ng-selected="selectedArea" value="">Select Area</option>
											</select>
                        </div>
                    </div>


                    <div class="col-md-5 col-xs-8 pull-left">

                        <div class="form-group" ng-blur="EnableData = false">
                            <label for="exampleInputPassword1"></label>
                            <input type="text" value="{{selectedCategory}}" name="categoryselect" class="form-control" id="exampleInputPassword2" placeholder="Start Typing..." ng-model="searchString" ng-change="callScriptThenServer(searchString)" ng-focus="loadDefaultCategories()"
                                ng-click="EnableData=true" ng-keypress="EnableData=true" ng-keyup="loadClients()" click-anywhere-but-here="EnableData=false" />

                            <div ng-show="EnableTextInputResult == false || EnableData" class="scrollable-menu" style="background-color:white; z-index: 2;border: 1px solid grey;position: absolute;padding-left:2px; width: 100%;height:1500px;">
                                <div ng-repeat="i in Categories |  filter : searchString track by $index">
                                    <a href="" ng-click="gotoResultsPageByCategory(i)">
                                        <div class="list_dropdown">
                                            <img ng-src="" />{{i}}
                                        </div>
                                    </a>
                                </div>
                                <div ng-repeat="i in SubCategories |  filter : searchString track by $index">
                                    <a href="" ng-click="gotoResultsPageBySubCategory(i)">
                                        <div class="list_dropdown">
                                            {{i}}
                                        </div>
                                    </a>


                                </div>

                                <div ng-repeat="i in clients |filter : {isPaidClient:true} | filter : searchString track by $index" ng-click="doSomething($event, 1)">
                                    <a href="/profile/{{i.City | slugify}}/{{i.Categories | slugifynolower}}/{{i.Area | slugify}}/{{i.ClinicName | slugify | slug |slugifyapostropy}}/{{i._id}}">
                                        <div class="list_dropdown">
                                           <b> {{i.ClinicName}}</b>
                                            <br/>
                                        </div>
                                    </a>
                                </div>                 
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1 col-xs-2 pull-left topmargin">
                        <button type="submit" class="btn btn-defaultsearch"><i class="fa fa-search fa-2x" aria-hidden="true"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div><br/></div>

    <div class="container">

        <button type="button" class="navbar-toggle1 collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav nav-tabsH nav-justified">
                <li class="active"><a href="#health" data-toggle="tab">Health & Medicine</a></li>
                <li><a href="#school" data-toggle="tab" aria-expanded="false">Schools & Institutes</a></li>
                <li><a href="#beauty" data-toggle="tab" aria-expanded="false">Beauty Care</a></li>
                <li><a href="#sports" data-toggle="tab" aria-expanded="false">Gym & Academies</a></li>
                <li><a href="#travel" data-toggle="tab" aria-expanded="false">Travel & Transport</a></li>
                <li><a href="#build" data-toggle="tab" aria-expanded="false">Professionals</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->

        <!--/.container-fluid -->

    </div>

    <div class="tab-content">
        <div id="health" class="tab-pane active">
            <br />

            <div class="row row_top">

                <div class="col-sm-2 col-md-2 col-xs-6">

                    <div class="thumbnail_home center-block" itemscope itemtype=https://schema.org/Dentist>
                        <a itemprop="url" href="/Pune/Dentist"> <img src="/assets/img/Dentist.png" width="50px" height="50px" alt="Dentist nx-search"></a>
                    </div>

                    <div class="caption tabtitle">

                         <a itemprop="url" href="/Pune/Dentist"><h4>Dental Clinics</h4></a>
                        
                    </div>
                </div>

                <div class="col-sm-2 col-md-2 col-xs-6">

                    <div itemscope itemtype=https://schema.org/Homeopathic class="thumbnail_home center-block">
                        <a itemprop="url" href="/Pune/Homeopathy"><img src="assets/img/Homeopathy.png" width="50px" height="50px" alt="homeopathy nx-search"></a>
                    </div>

                    <div class="caption tabtitle" itemscope itemtype=https://schema.org/Homeopathic>
                        <a itemprop="url" href="/Pune/Homeopathy">
                            <h4>Homeopathy Clinics</h4>
                        </a>
                    </div>
                </div>

                <div class="col-sm-2 col-md-2 col-xs-6">

                    <div class="thumbnail_home center-block" itemscope itemtype=https://health-lifesci.schema.org/Ayurvedic>
                        <a href="/Pune/Ayurveda"><img class="img" src="assets/img/Ayurveda.png" width="50px" height="50px" alt="Ayurveda nx-search"></a>
                    </div>

                    <div class="caption tabtitle">
                        <a href="/Pune/Ayurveda" itemscope itemtype=https://health-lifesci.schema.org/Ayurvedic>
                            <h4>Ayurvedic Clinics</h4>
                        </a>
                    </div>
                </div>

                <div class="col-sm-2 col-md-2 col-xs-6">

                    <div class="thumbnail_home center-block" itemscope itemtype=https://schema.org/Physician>
                        <a href="/Pune/Gynecologist"><img src="assets/img/Gynecologist.png" width="50px" height="50px" alt="Gynecologist nx-search"></a>
                    </div>

                    <div class="caption tabtitle" itemscope itemtype=https://schema.org/Physician>
                        <a href="/Pune/Gynecologist">
                            <h4>Gynecologist</h4>
                        </a>
                    </div>
                </div>

                <div class="col-sm-2 col-md-2 col-xs-6" itemscope itemtype=https://schema.org/Dermatology>

                    <div class="thumbnail_home center-block">
                        <a href="/Pune/Dermatologist"><img src="assets/img/Dermatologist.png" width="50px" height="50px" alt="Dermatologist nx-search"></a>
                    </div>

                    <div class="caption tabtitle" itemscope itemtype=https://schema.org/Dermatology>
                        <a href="/Pune/Dermatologist">
                            <h4>Dermatologist</h4>
                        </a>
                    </div>
                </div>

                <div class="col-sm-2 col-md-2 col-xs-6">
                    <div class="thumbnail_home img center-block" itemscope itemtype=https://health-lifesci.schema.org/Physiotherapist>
                        <a href="/Pune/Physiotherapist"><img src="assets/img/physiotherpist.png" width="50px" height="50px" alt="Physiotherapist Pune nx-search"></a>
                    </div>

                    <div class="caption tabtitle" itemscope itemtype=https://health-lifesci.schema.org/Physiotherapist>
                        <a href="/Pune/Physiotherapist">
                            <h4>Physiotherapist</h4>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div>
                    <br />
                </div>

                <div class="col-sm-2 col-md-2 col-xs-6">
                    <div class="thumbnail_home center-block" itemscope itemtype=https://schema.org/Physician>
                        <a href="/Pune/Ear-Nose-Throat-(ENT)"><img src="assets/img/ENT.png" width="50px" height="50px" alt="E-N-T specialist nx-search"></a>
                    </div>

                    <div class="caption tabtitle" itemscope itemtype=https://schema.org/Physician>
                        <a href="/Pune/Ear-Nose-Throat-(ENT)">
                            <h4>E-N-T Specialist</h4>
                        </a>
                    </div>
                </div>

                <div class="col-sm-2 col-md-2 col-xs-6" itemscope itemtype=https://schema.org/Physician>
                    <div class="thumbnail_home center-block">
                        <a href="#"><img src="assets/img/Urologist.png" width="50px" height="50px" alt="Urologist nx-search"></a>
                    </div>

                    <div class="caption tabtitle" itemscope itemtype=https://schema.org/Physician>
                        <a href="#">
                            <h4>Urologist</h4>
                        </a>
                    </div>
                </div>

                <div class="col-sm-2 col-md-2 col-xs-6">
                    <div class="thumbnail_home center-block" itemscope itemtype=https://schema.org/Physician>
                        <a href="#"><img src="assets/img/Opthalmologist.png" width="50px" height="50px" alt="Opthalmologist nx-search"></a>
                    </div>

                    <div class="caption tabtitle" itemscope itemtype=https://schema.org/Physician>
                        <a href="#">
                            <h4>Opthalmologist</h4>
                        </a>
                    </div>
                </div>

                <div class="col-sm-2 col-md-2 col-xs-6">
                    <div class="thumbnail_home img center-block" itemscope itemtype=https://health-lifesci.schema.org/DiagnosticLab>
                        <a href="/Pune/Diagnostic-Lab"><img src="assets/img/laboratory.png" width="50px" height="50px" alt="Diagnostic labs nx-search"></a>
                    </div>

                    <div class="caption tabtitle" itemscope itemtype=https://health-lifesci.schema.org/DiagnosticLab>
                        <a href="/Pune/Diagnostic-Lab">
                            <h4>Diagnostic labs</h4>
                        </a>
                    </div>
                </div>



                <div class="col-sm-1"></div>

            </div>
        </div>


        <div id="school" class="tab-pane fade">

            <br />

            <div class="row ">
                <div class="col-sm-1"></div>

                <div class="col-sm-2 col-md-2 col-xs-6">

                    <div class="thumbnail_home center-block" itemscope itemtype=https://schema.org/Preschool>
                        <a itemprop="url" href="/Pune/Preschools"><img src="assets/img/Preschool.png" width="50px" height="50px" alt="Preschools nx-search"></a>
                    </div>

                    <div class="caption tabtitle" itemscope itemtype=https://schema.org/Preschool>
                        <a itemprop="url" href="/Pune/Preschools">
                            <h4>Preschools</h4>
                        </a>
                    </div>
                </div>

                <div class="col-sm-2 col-md-2 col-xs-6">

                    <div class="thumbnail_home center-block" itemscope itemtype=https://schema.org/EducationalOrganization>
                        <a href="#"><img src="assets/img/Institute.png" width="50px" height="50px" alt="Insitutes nx-search"></a>
                    </div>

                    <div class="caption tabtitle" itemscope itemtype=https://schema.org/EducationalOrganization>
                        <a href="#">
                            <h4>Institutes</h4>
                        </a>
                    </div>
                </div>

                <div class="col-sm-2 col-md-2 col-xs-6">

                    <div class="thumbnail_home center-block" itemscope itemtype=https://schema.org/School>
                        <a href="/Pune/Private-Tuitions"> <img src="assets/img/Interior.png" width="50px" height="50px" alt="Private Turions nx-search"></a>
                    </div>

                    <div class="caption tabtitle" itemscope itemtype=https://schema.org/School>
                        <a href="/Pune/Private-Tuitions">
                            <h4>Private Tuitions</h4>
                        </a>
                    </div>
                </div>

                <div class="col-sm-2 col-md-2 col-xs-6">
                    <div class="thumbnail_home center-block" itemscope itemtype=https://schema.org/School>
                        <a href="/Pune/Home-Tutors"> <img src="assets/img/home-tutor.png" width="50px" height="50px" alt="Home Tutors in Pune nx-search"></a>
                    </div>

                    <div class="caption tabtitle" itemscope itemtype=https://schema.org/School>
                        <a href="/Pune/Home-Tutors">
                            <h4>Home Tutors</h4>
                        </a>
                    </div>

                </div>

                <div class="col-sm-2 col-md-2">

                </div>

                <div class="col-sm-1"></div>
            </div>
        </div>


        <div id="beauty" class="tab-pane fade">

            <br />

            <div class="row row_top">
                <div class="col-sm-1"></div>

                <div class="col-sm-2 col-md-2 col-xs-6">

                    <div class="thumbnail_home center-block" itemscope itemtype=https://schema.org/DaySpa>
                        <a href="/Pune/Salon-and-Spa"><img src="assets/img/Salon-Spa.png" width="50px" height="50px" alt="Salon & Spa nx-search"></a>
                    </div>

                    <div class="caption tabtitle" itemscope itemtype=https://schema.org/DaySpa>
                        <a href="/Pune/Salon-and-Spa">
                            <h4>Salon & Spa</h4>
                        </a>
                    </div>
                </div>

                <div class="col-sm-2 col-md-2 col-xs-6">
                    <div class="thumbnail_home center-block" itemscope itemtype=https://schema.org/UnisexSalon>
                        <a href="/Pune/unisex-salons"><img src="assets/img/unisex-saloons.png" width="50px" height="50px" alt="Unisex solon in Pune nx-search"></a>
                    </div>

                    <div class="caption tabtitle" itemscope itemtype=https://schema.org/DaySpa>
                        <a href="/Pune/unisex-salons">
                            <h4>Unisex Salon</h4>
                        </a>
                    </div>
                </div>

                <div class="col-sm-2 col-md-2 col-xs-6">

                </div>

                <div class="col-sm-2 col-md-2 col-xs-6">

                </div>

                <div class="col-sm-2 col-md-2 col-xs-6">

                </div>

                <div class="col-sm-1"></div>
            </div>
        </div>

        <div id="sports" class="tab-pane fade">

            <br />

            <div class="row row_top">
                <div class="col-sm-2 col-md-2 col-xs-6">
                    <div class="thumbnail_home center-block">
                        <a href="#"><img src="assets/img/Sports.png" width="50px" height="50px" alt="Sports nx-search"></a>
                    </div>

                    <div class="caption tabtitle">
                        <a href="#">
                            <h4>Sports</h4>
                        </a>
                    </div>
                </div>

                <div class="col-sm-2 col-md-2 col-xs-6">

                    <div class="thumbnail_home center-block">
                        <a href="#"><img src="assets/img/Dance-Academy.png" width="50px" height="50px" alt="Dance academy nx-search"></a>
                    </div>

                    <div class="caption tabtitle">
                        <a href="#">
                            <h4>Dance Academy</h4>
                        </a>
                    </div>
                </div>

                <div class="col-sm-2 col-md-2 col-xs-6">
                    <div class="thumbnail_home center-block">
                        <a href="#"><img src="assets/img/Musical-Academy.png" width="50px" height="50px" alt="Music academy nx-search"></a>
                    </div>

                    <div class="caption tabtitle">
                        <a href="#">
                            <h4>Music Academy</h4>
                        </a>
                    </div>
                </div>

                <div class="col-sm-2 col-md-2 col-xs-6">
                    <div class="thumbnail_home center-block" itemscope itemtype=https://health-lifesci.schema.org/Gym-and-fitness>
                        <a href="#"><img src="assets/img/Gym-Fitness.png" width="50px" height="50px" alt="Gym-and-fitness nx-search"></a>
                    </div>
                    <div class="caption tabtitle" itemscope itemtype=https://health-lifesci.schema.org/DiagnosticLab>
                        <a href="#">
                            <h4>Gym & Fitness</h4>
                        </a>
                    </div>
                </div>

                <div class="col-sm-2 col-md-2 col-xs-6">
                    <div class="thumbnail_home center-block" itemscope itemtype=https://health-lifesci.schema.org/yoga-academy>
                        <a href="#"><img src="assets/img/yoga.png" width="50px" height="50px" alt="Yoga-academy nx-search"></a>
                    </div>
                    <div class="caption tabtitle" itemscope itemtype=https://health-lifesci.schema.org/yoga-academy>
                        <a href="#">
                            <h4>Yoga Academy</h4>
                        </a>
                    </div>

                </div>

                <div class="col-sm-2 col-md-2 col-xs-6">
                    <div class="thumbnail_home center-block" itemscope itemtype=https://health-lifesci.schema.org/zumba-classes>
                        <a href="#"><img src="assets/img/zumba-classes.png" width="50px" height="50px" alt="Zumba classes Pune nx-search"></a>
                    </div>
                    <div class="caption tabtitle" itemscope itemtype=https://health-lifesci.schema.org/yoga-academy>
                        <a href="#">
                            <h4>Zumba Classes</h4>
                        </a>
                    </div>

                </div>
            </div>
        </div>

        <div id="travel" class="tab-pane fade">

            <br />

            <div class="row row_top">
                <div class="col-sm-1"></div>

                <div class="col-sm-2 col-md-2 col-xs-6">

                    <div class="thumbnail_home center-block">
                        <a href="#"><img src="assets/img/Travel-Agent.png" width="50px" height="50px" alt="Travel Agents nx-search"></a>
                    </div>

                    <div class="caption tabtitle">
                        <a href="#">
                            <h4>Travel Agents</h4>
                        </a>
                    </div>
                </div>

                <div class="col-sm-2 col-md-2 col-xs-6">

                    <div class="thumbnail_home center-block">
                        <a href="#"><img src="assets/img/Movers-Packers.png" width="50px" height="50px" alt="Packers and Movers nx-search"></a>
                    </div>

                    <div class="caption tabtitle">
                        <a href="#">
                            <h4>Packers & Movers</h4>
                        </a>
                    </div>
                </div>

                <div class="col-sm-2 col-md-2 col-xs-6">

                </div>

                <div class="col-sm-2 col-md-2 col-xs-6">

                </div>

                <div class="col-sm-2 col-md-2 col-xs-6">

                </div>

                <div class="col-sm-1"></div>
            </div>
        </div>

        <div id="build" class="tab-pane fade">

            <br />

            <div class="row row_top">
                <div class="col-sm-1"></div>

                <div class="col-sm-2 col-md-2 col-xs-6">

                    <div class="thumbnail_home center-block">
                        <a href="#"><img src="assets/img/Architect.png" width="50px" height="50px" alt="Architects nx-search"></a>
                    </div>

                    <div class="caption tabtitle">
                        <a href="#">
                            <h4>Architect</h4>
                        </a>
                    </div>
                </div>

                <div class="col-sm-2 col-md-2 col-xs-6">

                    <div class="thumbnail_home center-block">
                        <a href="#"><img src="assets/img/Landscape-Designier.png" width="50px" height="50px" alt="Landscape Designers nx-search"></a>
                    </div>

                    <div class="caption tabtitle">
                        <a href="#">
                            <h4>Landscape Designers</h4>
                        </a>
                    </div>
                </div>

                <div class="col-sm-2 col-md-2 col-xs-6">
                    <div class="thumbnail_home center-block">
                        <a href="#"><img src="assets/img/Interior.png" width="50px" height="50px" alt="Interior Designers nx-search"></a>
                    </div>

                    <div class="caption tabtitle">
                        <a href="#">
                            <h4>Interior Designers</h4>
                        </a>
                    </div>
                </div>

                <div class="col-sm-2 col-md-2 col-xs-6">
                    <div class="thumbnail_home center-block">
                        <a href="/Pune/Finance-and-Taxation-Service"><img src="assets/img/accuntant.jpg" width="50px" height="50px" alt="Finance and Taxation Service nx-search"></a>
                    </div>

                    <div class="caption tabtitle">
                        <a href="/Pune/Finance-and-Taxation-Service">
                            <h4>Finance & Taxation Service</h4>
                        </a>
                    </div>
                </div>

                <div class="col-sm-2 col-md-2 col-xs-6">

                </div>

                <div class="col-sm-1"></div>
            </div>
        </div>



    </div>


</div>
<!--  End of Page Container  -->

    <div class="row chat-window col-xs-5 col-md-3" id="chat_window_1" style="z-index: 1;" ng-controller="dashResultsController">
                <div class="ng-hide">
                <h5 style="display: inline" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/">Home</a></h5>&nbsp
                <i class="fa fa-angle-right" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"></i>&nbsp
                <h5 style="display: inline" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span id="city"></span></h5>
                &nbsp<i class="fa fa-angle-right" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"></i> &nbsp
                <h5 style="display: inline" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a id="categry" href=""> <span id="category"></span></a>
                </h5>&nbsp
                <i class="fa fa-angle-right" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"></i>&nbsp
                <h5 style="display: inline" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span id="area"></span>&nbsp</h5>
                &nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp
                <h1 style="font-size: 14px; display: inline; "> <b>{{::aaa}}</b> matches found for: <b id="keyword"></b></h1>
                 <i id="shareBtn" title="Share on Facebook" class="fa fa-facebook-square fa-2x" style="color: #365899; cursor: pointer; padding-top: 10px;"></i>
            </div>

        <div class="col-xs-12 col-md-12 window-width" >
        	<div class="panel panel-default">
                <div class="panel-heading top-bar">
                    <div class="col-md-8 col-xs-8">
                        <h3 class="panel-title"><span class="fa fa-envelope"></span>&nbsp;&nbsp;&nbsp;How can I help you ?</h3>
                    </div>
                    <div class="col-md-4 col-xs-4" style="text-align: right;">
                        <a href="#"><span id="minim_chat_window" class="glyphicon glyphicon-minus icon_minim"></span></a>
                       
                    </div>
                </div>
                <div class="panel-body msg_container_base">
                    <div class="row msg_container base_sent">
                        <div class="col-md-12 col-xs-12">
                           <form name="popupform">
                       <input id="btn-input" name="uname" ng-model="popupForm.name" type="text" class="form-control input-sm chat_input" placeholder="Name.." ng-required="true"><br>
                      
                        <input id="btn-input" ng-model="popupForm.phone" type="text" class="form-control input-sm chat_input" ng-minlength="10" ng-maxlength="10" placeholder="Mobile.." ng-required="true" /><br>
                        
                         <input id="btn-input" ng-model="popupForm.message" type="text" class="form-control input-sm chat_input" placeholder="Write your message here..." ng-required="true" /><br>
                        
                        <span class="input-group-btn">
                        <button class="btn btn-primary btn-sm" id="btn-chat" ng-click="sendPopup(popupForm)" ng-disabled="popupform.$invalid">Send</button>
                         </span><span style="color : green;">{{serverMessage}}</span>
                           </form>
                        </div>
                       
                    </div>
                </div>
                
    		</div>
        </div>
    </div>

<!-- Footer -->
<footer class="container" style="background-color:#00334d;padding-left: 0px; padding-right: 0px;">
        <div class="footer" id="footer">
            <div class="container">
                <div class="container">
                    <div class="col-lg-2  col-md-2 col-sm-6 col-xs-6">
                        <h3>About </h3>
                        <ul>
                            <li> <a itemprop="url" href="/aboutus"> About <b> NX-Search</b> </a> </li>
                            <li> <a itemprop="url" href="/career"> Career </a> </li>


                        </ul>
                    </div>
                    <div class="col-lg-3  col-md-3 col-sm-6 col-xs-6">
                        <h3>NX-search</h3>
                        <ul>
                            <li> <a itemprop="url" href="/privacypolicy"> Privacy Policy </a> </li>
                            <li> <a itemprop="url" href="/termsandconditions"> Terms and Conditions </a> </li>
                        </ul>
                    </div>
                    <div class="col-lg-3  col-md-3 col-sm-6 col-xs-6">
                        <h3>Contact Us</h3>
                        <ul>
                            <li> <a itemprop="url" href="/contactus" itemprop="url"> Contact Us </a> </li>
                            <li itemprop="telephone"> <i class="fa fa-mobile fa-2x" aria-hidden="true" style="color: white"></i> +91 8381 05 7555</li>
                        </ul>
                    </div>

                    <div class="col-lg-3  col-md-4 col-sm-6 col-xs-6">
                        <h3> Follow Us </h3>
                        <ul>
                            <li>
                                <!--<a href="#"><img src="assets/img/google-plus-bizzbazar.png" class="img-circle" alt="google-plus_nxsearch" width="35" height="35"></a>-->
                                <a href="https://www.facebook.com/nxsearch" target="blank" itemprop="url"><img src="assets/img/facebook-nxsearch.png" class="img-circle" alt="facebook_nxsearch" width="35" height="35"></a>
                                <a href="https://twitter.com/nxsearch" target="blank" itemprop="url"><img src="assets/img/twitter-nxsearch.png" class="img-circle" alt="twitter_nxsearch" width="35" height="35"></a>
                                <a href="https://www.instagram.com/nxsearch_com/" target="blank" itemprop="url"><img src="assets/img/instagram-nxsearch-logo.png" class="img-circle" alt="instagaram_nxsearch" width="35" height="35"></a>
                                <!-- <a href="#"><img src="assets/img/linkedin-bizzbazar.png" class="img-circle" alt="linkedin_nxsearch" width="35" height="35"></a>
                                
                                <a href="#"><img src="assets/img/instagram-bizzbazar.png" class="img-circle" alt="instagram_nxsearch" width="35" height="35"></a>-->
                            </li>
                        </ul>
                    </div>
                    <!--<div class="col-lg-4  col-md-3 col-sm-6 col-xs-12 ">
                        <h3> SubScribe </h3>
                        <ul>
                            <li>
                                <div class="input-append newsletter-box text-center">
                                    <input type="text" class="full text-center" placeholder="Email ">
                                    <button class="btn  btn-info" type="button"> Subscribe <i class="fa fa-long-arrow-right"> </i> </button>
                                </div>
                            </li>
                        </ul>

                    </div>-->
                </div>
            </div>
        </div>


        <div class="footer-bottom">
            <div class="container">
                <p class="text-center"> Copyright © <b><a href="/" itemprop="url">NX-Search</a></b> 2017. All right reserved. </p>
            </div>
        </div>
       

</footer>
<!-- Footer End -->

<script>
    var $div = $('.scrollable-menu');
    $(document.body).click(function() {
        if (!$div.has(this).length) { // if the click was not within $div
            $div.hide();
        }

    });
    $("#exampleInputPassword2").focus(function() {
        // if the click was not within $div
        $div.show();


    });
</script>
<script>
$(document).on('click', '.panel-heading span.icon_minim', function (e) {
    var $this = $(this);
    if (!$this.hasClass('panel-collapsed')) {
        $this.parents('.panel').find('.panel-body').slideUp();
        $this.addClass('panel-collapsed');
        $this.removeClass('glyphicon-minus').addClass('glyphicon-plus');
    } else {
        $this.parents('.panel').find('.panel-body').slideDown();
        $this.removeClass('panel-collapsed');
        $this.removeClass('glyphicon-plus').addClass('glyphicon-minus');
    }
});
$(document).on('focus', '.panel-footer input.chat_input', function (e) {
    var $this = $(this);
    if ($('#minim_chat_window').hasClass('panel-collapsed')) {
        $this.parents('.panel').find('.panel-body').slideDown();
        $('#minim_chat_window').removeClass('panel-collapsed');
        $('#minim_chat_window').removeClass('glyphicon-plus').addClass('glyphicon-minus');
        e.stopPropagation();
    }
});
$(document).on('click', '#new_chat', function (e) {
    var size = $( ".chat-window:last-child" ).css("margin-left");
     size_total = parseInt(size) + 400;
    alert(size_total);
    var clone = $( "#chat_window_1" ).clone().appendTo( ".container" );
    clone.css("margin-left", size_total);
});
$(document).on('click', '.icon_close', function (e) {
    //$(this).parent().parent().parent().parent().remove();
    $( "#chat_window_1" ).remove();
});

</script>