<script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-64739177-2', 'auto');
    ga('send', 'pageview');
</script>

<!--
<div class="text-center" ng-controller="dashResultsController">
            <label>Search: <input ng-model="userSearch" class="form-control input-lg text-center"></label>
        </div>
        <div class="col-xs-6" ng-repeat="item in results | filter:userSearch">
            <div class ="panel panel-info">
                <div class ="row">
                        <div class ="col-xs-4 doc-photo-container">
                            <div ng-if="todo.imageUrl != ''">
                                <img src="{{item.imageUrl }}" class="img-rounded"  width="100" height="120" style="position:relative; width: 100px; height: 120px;margin-left:10px;margin-top:10px;">
                            </div>
                            <div ng-if="todo.imageUrl == ''">
                                <img src="http://www.wpclipart.com/signs_symbol/icons_oversized/male_user_icon.png" class="img-rounded" width="100" height="120" style="position:relative; width: 100px; height: 120px;margin-left:10px;margin-top:10px;">
                            </div>
                        </div>
                        <div class ="col-xs-4 doc-details-block">
                            <h4>{{item.first_name}} {{item.last_name}}</h4>
                            <p>{{item.qualification}} , {{item.speciality}}, {{item.experience}}</p>
                        </div>

                        <div class="patient_experience_score recommend">

                            <span> <p>Cardiologist , 25 Years Experience</p></span>
                                        <span class="practo-icon icon-like"></span>
                                            93%  <span class="doctor-votes">(46  votes)</span>
                        </div>
                                    <a href="#" class="fm-source">{{item.contact}} </a>
                                    <span itemprop="addressLocality">Kalyani Nagar</span>, <span itemprop="addressRegion">Pune</span>
                                    <span class="fees-amount">INR 500</span>
                        <div class="timings-block">
                            <p><span class="strong days-timing">MON-SAT</span><br><span class="hours-timing">4:00 PM-8:00 PM</span></p>
                            <div class="text-center">
                                <span class="fa fa-pencil" aria-hidden="true" ng-click="editClient(todo._id)"></span>
                                <span class="fa fa-trash-o " aria-hidden="true"  ng-click="deleteTodo(todo._id)"></span>
                            </div>
                        </div>
                </div>

            </div>
        </div>-->
<!--  new code  -->
<div class="container" style="background-color:#fff; padding-bottom:50px;" itemscope itemtype="http://schema.org/LocalBusiness">

    <div id="mymodal1" style="color: red;"></div>
    <div class="col-md-12">
        <div class="col-md-12 col-xs-12 formbackground2" ng-controller="InstantSearchController">
            <div class="col-md-12 col-xs-12" style="padding-left: 28px">
                <form>
                    <div class="col-md-3 col-xs-11 pull-left" style="padding-top: 20px">

                        <!--<label for="exampleInputEmail1"></label>-->
                        <!--<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter City">-->

                        <select class="form-control" select2="" name="city" data-ng-model="client.selectedCityModel" ng-options="c.city as c.city for c in client.cities" ng-disabled="disabled">
												<option value=""><i class="fa fa-map-marker" aria-hidden="true"></i> Select City</option>
											</select>
                        <!--{{client.selectedCityModel}}-->


                    </div>

                    <div class="col-md-3 col-xs-11 pull-left" style=" padding-top: 20px">
                        <div>
                            <!--<label for="exampleInputPassword1"></label>
                                              <input type="text" class="form-control" id="exampleInputPassword2" placeholder="Start Typing">-->
                            <select class="form-control" select2="" name="city" data-ng-model="MainAreas.selectedAreaModel.Area" ng-options="c.Area as c.Area for c in MainAreas.areas | orderBy : 'Area' " ng-disabled="disabled">
												<option ng-selected="selectedArea" value="">Select Area</option>
											</select>
                            <!--{{MainAreas.selectedAreaModel}}-->
                        </div>
                        <!--<div class="bar" ng-init="EnableData = false">
												<input type="text" ng-model="searchString" placeholder="Enter your search terms" ng-change="callScriptThenServer()" ng-focus="EnableData= true" ng-blur="EnableData = false"/>
												<ul ng-show="EnableData" >
													<li ng-repeat="i in items | searchFor:searchString" >
														<a href="{{i.url}}"><img ng-src="{{i.image}}" /></a>
														<p>{{i.title}}</p>
													</li>

													{{EnableData}}
												 </ul>
											</div>-->



                    </div>


                    <div class="col-md-5 col-xs-8 pull-left">

                        <div class="form-group" ng-blur="EnableData = false">
                            <label for="exampleInputPassword1"></label>
                            <input type="text" ng-value="selectedCategory" class="form-control" id="exampleInputPassword2" ng-model="searchString" ng-change="callScriptThenServer(searchString)" ng-focus="EnableData= true" ng-click="loadDefaultCategories()" click-anywhere-but-here="EnableData=false"
                            />

                            <div ng-show="EnableTextInputResult == false || EnableData" class="scrollable-menu" style="background-color:white; z-index: 2;border: 1px solid grey;position: absolute;padding-left:2px; width: 100%;height:900px;">
                                <div ng-repeat="i in Categories |  filter : searchString track by $index">
                                    <a href="" ng-click="gotoResultsPageByCategory(i)">
                                        <div class="list_dropdown">
                                            <img ng-src="" />{{i}}
                                        </div>
                                    </a>
                                </div>
                                <div ng-repeat="i in SubCategories |  filter : searchString track by $index">
                                    <a href="" ng-click="gotoResultsPageBySubCategory(i)">
                                        <div class="list_dropdown">
                                            {{i}}
                                        </div>
                                    </a>


                                </div>

                                <div ng-repeat="i in clients |  filter : searchString | limitTo:5 track by $index " ng-click="doSomething($event, 1)">
                                    <a href="/profile/{{i.City | slugify}}/{{i.Categories | slugify}}/{{i.Area | slugify}}/{{i.ClinicName | slugify | slug |slugifyapostropy}}/{{i._id}}">
                                        <div class="list_dropdown">
                                            <img ng-src="{{i.imageUrl}}" class="img-circle" style="max-width:15%; height: auto;" /><b> {{i.ClinicName}}</b>
                                            <br/>
                                        </div>
                                    </a>
                                </div>

                                <div ng-repeat="i in clients |  filter : searchString | limitTo:5 track by $index " ng-click="doSomething($event, 1)">
                                    <a href="/profile/{{i.City | slugify}}/{{i.Categories | slugify}}/{{i.Area | slugify}}/{{i.ClinicName | slugify | slug |slugifyapostropy}}/{{i._id}}">
                                        <div class="list_dropdown">
                                            <span class="text-center;">{{i.DoctorName}}</span>
                                            <br/>
                                        </div>
                                    </a>
                                </div>

                                <div ng-repeat="i in clients |  filter : searchString | limitTo:5 track by $index " ng-click="doSomething($event, 1)">

                                    <a href="/profile/{{i.City | slugify}}/{{i.Categories | slugify}}/{{i.Area | slugify}}/{{i.ClinicName | slugify | slug |slugifyapostropy}}/{{i._id}}">
                                        <div class="list_dropdown">
                                            <span class="text-center;">{{i.speciality}}</span>
                                            <br/>
                                        </div>
                                    </a>
                                </div>



                                <!-- <div>
                                <a href="/showResults/{{client.selectedCityModel}}/{{searchString}}"> 
                                                            Clinics named "{{searchString}}"({{searchString.length}})
                                                        </a><br/>
                                <hr style="border-color: lightskyblue;">
                            </div>
                            <div>
                                <a href="/showResults/{{client.selectedCityModel}}/{{searchString}}"> 
                                                            Doctors named "{{searchString}}"({{searchString.length}})
                                                        </a><br/>
                                <hr style="border-color: lightskyblue;">
                            </div>-->



                            </div>
                            <!--<div class="scrollable-menu" ng-if="searchString.length && EnableData" style="background-color:white; z-index: 2;border: 1px solid grey;position: absolute;padding-left:2px; width: 100%;height:900px;">
                                                
                                                <div ng-show="EnableTextInputResult == true">
                                                    
                                                    <div ng-repeat="i in clients |  filter : searchString | limitTo:5 track by $index " ng-click="doSomething($event, 1)">
                                                        <h5 ng-show="$index == 0"> Doctors </h5>
                                                        <a href="/homepage/{{i._id}}"><img ng-src="" />{{i.DoctorName}}</a><br/>
                                                        <span> {{i.ClinicName}} </span><br/>
                                                        <span>{{i.speciality}}</span>
                                                        <hr style="border-color: lightskyblue;">
                                                    </div>
                                                   
                                                </div>
                                            </div>-->
                            <!--<div ng-show="EnableTextInputResult == false && EnableData" style="background-color:white; z-index: 2;border: 1px solid grey;position: absolute;padding-left:2px; width: 192px;">
                                                <div ng-repeat="i in MainCategoriesData |  filter : searchString track by $index">
                                                    <span><a href="" ng-click="gotoResultsPage(i)"><img ng-src=""  /><b>{{i}}</b></a><hr></span>

                                                </div>
                                            </div>-->

                        </div>
                    </div>

                    <div class="col-md-1 col-xs-2 pull-left topmargin">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search fa-2x" aria-hidden="true"></i></button>
                    </div>
                </form>
            </div>
        </div>


        <div class="col-md-12" ng-controller="dashResultsController">
            <div ng-hide="serverMessage==null" class="col-md-9 col-xs-12 alert alert-success">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong>Success!</strong> {{serverMessage}}.
            </div>
            <div ng-repeat="post in posts">
                <div>{{post.title}}</div>
                <div>{{post.content}}</div>
                <button class="fb-share-button" ng-click="share(post)">SHARE</button>
            </div>

            <!-- Breadcrumbs data -->
            <div class="ng-hide">
                <h5 style="display: inline" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/">Home</a></h5>&nbsp
                <i class="fa fa-angle-right" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"></i>&nbsp
                <h5 style="display: inline" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span id="city"></span></h5>
                &nbsp<i class="fa fa-angle-right" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"></i> &nbsp
                <h5 style="display: inline" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a id="categry" href=""> <span id="category"></span></a>
                </h5>&nbsp
                <i class="fa fa-angle-right" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"></i>&nbsp
                <h5 style="display: inline" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span id="area"></span>&nbsp</h5>
                &nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp
                <h1 style="font-size: 14px; display: inline; "> <b>{{aaa}}</b> matches found for: <b id="keyword"></b></h1>
            </div>

            <h5 style="display: inline" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/">Home</a></h5>&nbsp
            <i class="fa fa-angle-right" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"></i>&nbsp
            <h5 style="display: inline" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span id="city1"></span></h5>
            <i class="fa fa-angle-right" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"></i>&nbsp
            <h5 style="display: inline" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/{{client.City}}/{{client.Categories | slugifynolower}}/{{client.Area | slugifynolower}}"><span id="bbb"></span> </a>&nbsp</h5>
            <i class="fa fa-angle-right" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"></i>&nbsp
            <h5 style="display: inline" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/{{client.City}}/{{client.Categories | slugifynolower}}/{{client.Area | slugifynolower}}"><span id="area1"> </span></a>&nbsp</h5>

            <i class="fa fa-angle-right" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"></i>&nbsp
            <h5 style="display: inline" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span id="demo1"></span>&nbsp</h5>
            <div class="col-md-12 col-sm-12 col-xs-12" itemscope itemtype=https://schema.org/{{client.Categories}}>
                <div class="col-md-9 col-xs-12">
                    <div class="well_new">
                        <h4 class="text-center" style="color:#1e97cc; font-weight:bold;">{{client.ClinicName}}</h4>
                    </div>

                    <!-- Profile Title End -->
                    <div class="clearfix"></div>
                    <!-- Client Profile Start -->
                    <div class="col-md-12 col-sm-12 col-xs-12 well_new">
                        <div class="col-md-2 col-xs-4 ">
                            <div ng-if="client.imageUrl != ''">
                                <img itemprop="photo" src="{{client.imageUrl }}" alt="{{client.ClinicName }}-{{client.Area }}-{{client.City }}-NXsearch" width="130" height="130" class="listing_image">
                            </div>
                            <div ng-if="client.imageUrl == ''">
                                <img itemprop="photo" src="http://www.wpclipart.com/signs_symbol/icons_oversized/male_user_icon.png" alt="{{client.ClinicName }}-{{client.Area }}-{{client.City }}-NXsearch" class="img-rounded" class="listing_image">
                            </div>
                        </div>
                        <div class="col-md-5 col-xs-8" style="padding-left: 20px;">
                            <div class="col-md-12">
                                <div class="col-md-12 col-sm-6 col-xs-12">
                                    <div class="col-md-12 list_specialty">

                                        <h4 itemprop="person" style="color:#1e97cc;"><b>{{client.DoctorName}}</b></h4>
                                        <span>{{client.Profession}} | {{client.speciality}}</span>
                                        <br>
                                        <span style="color:#1e97cc;"><strong><i class="fa fa-star-o" style="color:#1e97cc; font-size:16px;" aria-hidden="true"></i> Experience : </strong> </span>{{client.Experience}} Years
                                        <br>
                                        <div class="col-xs-12">
                                            <div class="col-xs-3">
                                                <span style="color:#1e97cc;"><strong><i class="fa fa-clock-o" style="color:#1e97cc; font-size:16px;" aria-hidden="true"></i> Time :</strong></span>
                                            </div>
                                            <div class="col-xs-9" itemprop="openingHoursSpecification" itemtype="http://schema.org/OpeningHoursSpecification">
                                                <span itemprop="opens">{{client.FirstHalfTime}}  </span><br />
                                                <span itemprop="closes">{{client.SecondHalfTime}}</span>
                                            </div>
                                        </div>
                                        <br>

                                        <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" style="color:#1e97cc;"><strong><i class="fa fa-map-marker" style="color:#1e97cc; font-size:16px;" aria-hidden="true"></i> Area : </strong></span itemprop="addressLocality"> &nbsp;{{client.Area}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-12 col-xs-12 list_specialty" style="padding-left: 20px;" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                            <div class="col-md-12 col-xs-12">
                                <span style="color:#1e97cc;"><b> Address :</b></span><br>

                                <span itemprop="streetAddress">{{client.address1}}</span><br>
                                <span itemprop="streetAddress"> {{client.address2}},</span><br>
                                <span itemprop="addressLocality">{{client.Area}},{{client.City}}</span><br>
                            </div>
                            <div class="col-md-12 col-xs-12 col-xs-offset-3 text-center topmargin">
                                <!--<button type="button" class="btn btn-info">Book Appiontment Online</button>-->
                                <button type="button" class="btn1 btn1-info" data-toggle="modal" data-target="#myModal">Enquire Now</button>
                                <div class="modal fade" id="myModal" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content" style="width: 340px">

                                            <div class="modal-body well_new">
                                                <!--   <script src='https://www.google.com/recaptcha/api.js'></script>-->
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <form name="enquiryForm" class="form-horizontal" role="form">
                                                    <!-- Form Name -->

                                                    <!-- Text input-->
                                                    <div class="col-xs-12">
                                                        <div class="col-xs-4">
                                                            <b>Your Enquiry For :</b>
                                                        </div>
                                                        <div class="col-xs-8">
                                                            <input type="text" id="ClinicName" ng-model="client.ClinicName" name="ClinicName" class="form-control" ng-value="client.ClinicName" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <input type="text" name="username" id="username" ng-model="client.username" value="{{item.ClinicName}}" placeholder="Name" class="formControlModal" ng-required="true">
                                                        <div ng-show="enquiryForm.username.$touched && enquiryForm.username.$invalid">
                                                            <small style="color: red; display: block; text-align: center">Please Enter Name</small>
                                                        </div>
                                                    </div>


                                                    <!-- Text input-->
                                                    <div class="col-xs-12">
                                                        <div class="col-xs-2">
                                                            <input type="text" name="countryCode" class="form-control" value="IND +91" readonly>
                                                        </div>
                                                        <div class="col-xs-10">
                                                            <input type="text" name="usermobile" id="usermobile" ng-model="client.usermobile" placeholder="Mobile Number" ng-minlength="10" ng-maxlength="10" class="formControlModal" ng-required="true">
                                                            <div ng-show="enquiryForm.mobile.$touched && enquiryForm.mobile.$invalid">
                                                                <small style="color: red; display: block; text-align: center">Please Enter Valid Mobile Number</small>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-xs-12">
                                                        <div class="col-xs-4">
                                                            <b>Pick Date :</b>
                                                        </div>
                                                        <div class="col-xs-8">
                                                            <input type="date" id="date" name="date" ng-model="client.date" placeholder="Pick Date" class="formControlModal" ng-required="true">
                                                        </div>
                                                    </div>



                                                    <div class="col-xs-12">
                                                        <div class="col-xs-4">
                                                            <b>Pick Time :</b>
                                                        </div>
                                                        <div class="col-xs-8">
                                                            <input type="time" id="datetimepicker3" name="time" ng-model="client.time" placeholder="Pick Time" class="formControlModal input-small" ng-required="true">
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <input type="email" name="useremail" ng-model="client.useremail" id="useremail" placeholder="Email " class="formControlModal" ng-focus="sendOTP1(client)" ng-required="true">
                                                    </div>


                                                    <!--  <div class="g-recaptcha" data-sitekey="6LfxPhMUAAAAAMGDdjN1FQ4eCY_fRL3ejKXAu5dj"></div>-->
                                                    <div class="col-xs-12">
                                                        <div class="col-xs-4">
                                                            <b>Enter OTP :</b>
                                                        </div>
                                                        <div class="col-xs-8">
                                                            <input type="text" ng-model="client.OTP" class="form-control" ng-required="true">
                                                        </div>
                                                    </div>
                                                    <br />

                                                    <br />
                                                    <b>{{serverMessage}}</b>
                                                    <input name="btnSubmit" type="button" style="margin: 5px" class="btn2 btn2-info" ng-click="send1(client)" ng-disabled="enquiryForm.$invalid" data-dismiss="modal" value="Submit" id="send_email" />
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <!-- Client Menu Start -->
                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <nav class="navbar  navbar-default">

                            <!-- <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>

                                </button>

                            </div>-->
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>

                                </button>
                            <div id="navbar-collapse" class="collapse navbar-collapse">
                                <!--<ul class="nav navbar-nav">-->
                                <!--<li class="active"><a data-toggle="tab" href="#"> Home</a></li>-->
                                <!--<li><a data-toggle="tab" href="#">Services</a></li>-->
                                <!--<li><a data-toggle="tab" href="#">Feedback</a></li>-->
                                <!--<li><a data-toggle="tab" href="#">Gallery</a></li>-->
                                <!--<li><a data-toggle="tab" href="#">Contact Us</a></li>-->
                                <!--</ul>-->

                                <ul class="nav1 navbar-nav" ng-repeat="tab in tabs">
                                    <li ng-class="activeClass" ng-click="onClickTab(tab)">{{tab.title}}</li>
                                </ul>


                                <ul class="nav navbar-nav pull-right">
                                    <li class="login">
                                        <i id="shareBtn" title="Share on Facebook" class="fa fa-facebook-square fa-2x" style="color: #365899; cursor: pointer; padding-top: 5px;"></i>
                                    </li>
                                    <li class="login">
                                        <a href=" http://twitter.com/share?text=text goes here&url=http://{{fpath}}" title="Share on Twitter" target="_blank" style="padding-top: 5px; padding-bottom: 5px;padding-right: 5px;padding-right: 5px;">
                                            <i class="fa fa-twitter-square fa-2x" style="color: #1DA1F2; cursor: pointer;"></i></a>

                                    </li>

                                    <li class="login">
                                        <a href="https://plus.google.com/share?url=http://{{fpath}}" title="Share on Google+" target="_blank" style="padding-top: 0px; padding-bottom: 5px;">
                                            <i class="fa fa-google-plus-square fa-2x" style="color: #dd4b39; cursor: pointer;padding-top: 5px; padding-bottom: 5px"></i></a>


                                    </li>



                                </ul>

                            </div>

                        </nav>

                    </div>
                    <!-- Client Menu End -->
                    <div id="mainView">
                        <div ng-include="currentTab"></div>
                    </div>



                    <script type="text/ng-template" id="one.tpl.html">
                        <div id="Home">
                            <div class="col-lg-12 col-sm-12 col-xs-12 well_new" ng-repeat="data in HomeData | filter : data.ClinicId = clientId">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                    <div class="doc-photo-container">
                                        <div ng-if="data.Image != ''">
                                            <img src="{{data.Image }}" alt="{{data.Image }}" class="listing_image" width="100" height="100">
                                        </div>
                                        <div ng-if="data.Image == ''">
                                            <img src="http://nxsearch.com/uploads/clientProfilePictures/nxsearch-user-logo.png" class="listing_image" width="100" height="100">
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 text-justify">
                                    <div class="col-lg-12 col-xs-12">
                                        <h4 class="pull-left">{{data.DoctorName}}</h4>
                                    </div>
                                    <div class="col-xs-12 text-justify list_specialty">
                                        {{data.Description}}

                                    </div>

                                </div>
                            </div>
                        </div>
                    </script>

                    <script type="text/ng-template" id="two.tpl.html">
                        <div id="Services">

                            <div class="col-lg-12 col-sm-12 col-xs-12 well_new" ng-repeat="data in ServiceData | filter : data.ClinicId = clientId">

                                <div class="col-md-2  col-xs-12">
                                    <div ng-if="data.Image != ''">
                                        <img src="{{data.ServiceImage}}" alt="{{data.ServiceImage}}" class="listing_image" width="100" height="100" style="position:relative;">
                                    </div>
                                    <div ng-if="data.Image == ''">
                                        <img src="http://www.innovativephp.com/demo/impress-js-demos/chapter5/images/aboutme.jpg" width="100" height="100" class="listing_image">
                                    </div>
                                </div>
                                <div class="col-md-10 col-xs-12 text-justify list_specialty">
                                    <h4>{{data.ServiceName}}</h4>
                                    {{data.ServiceInfo}}
                                </div>

                            </div>


                        </div>
                    </script>

                    <script type="text/ng-template" id="three.tpl.html">
                        <div id="Feedback">
                            <div class="col-md-12 col-xs-12 well_new bg-default">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="input-group"> <input ng-model="txtSearch" class="form-control input-lg text-center" placeholder="Search Feedback"></div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 text-center">
                                    <a class="btn btn-info" data-toggle="modal" data-target="myModal1"><i class="fa fa-shield" ></i> Give Feedback</a>
                                    <!--# removed for data-target="#myModal1" -->
                                    <div class="modal fade" id="myModal1" role="dialog">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h3 class="modal-title pull-left">Give Feedback</h3>
                                                </div>
                                                <div class="modal-body pull-left">
                                                    <form>
                                                        <div class="form-group">
                                                            <label>Add Feedback</label>
                                                            <input type="hidden" ng-model="formData._id">

                                                            <div>
                                                                <label>Username</label>
                                                                <input type="text" ng-model="item.userName" name="" class="form-control text-center" placeholder="Enter a Username ">
                                                                <label>Feedback</label>
                                                                <input type="text" ng-model="item.feedback" name="" class="form-control text-center" placeholder="Enter a Feedback ">
                                                            </div>
                                                        </div>
                                                        <br />

                                                    </form>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary btn-lg" ng-click="addFeedback()">Give Feedback</button>
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <hr>
                                </div>
                            </div>
                            <div class="col-md-12 col-xs-12 help-block"></div>
                            <div class="col-md-12 col-xs-12 help-block"></div>
                            <div class="col-md-12 col-sm-12 col-xs-12" ng-repeat="data in FeedbackData | filter : data.ClinicId = clientId">
                                <div class="col-md-1 col-sm-1 col-xs-1">
                                    <i class="fa fa-th fa-3x img-responsive" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-11 col-sm-9 col-xs-9">

                                    <div class="col-md-12 col-xs-12 pull-left">
                                        <h4 class="pull-left"> {{data.userName}}</h4>
                                    </div>
                                    <div class="col-md-12 col-xs-12 col-md-offset-1 col-xs-offset-1 pull-left">
                                        <p class="pull-left">{{data.feedback}}</p>
                                    </div>
                                    <div class="col-md-12 col-xs-12 text-success pull-left">
                                        <p class="text-success pull-left">Was this review useful to you?</p>

                                        <i class="fa fa-thumbs-up fa-2x text-primary col-md-offset-1 col-xs-offset-1" aria-hidden="true"></i> {{data.likes}}
                                        <i class="fa fa-thumbs-down fa-2x text-muted col-md-offset-1 col-xs-offset-1" aria-hidden="true"></i> {{data.dislikes}}
                                    </div>



                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </script>

                    <script type="text/ng-template" id="four.tpl.html">
                        <div id="Gallary">
                            <div class="col-lg-12 col-sm-12 col-xs-12 well_new">
                                <div id="pageone" class="col-sm-6 col-xs-6 col-md-2 col-lg-2" ng-repeat="data in GallaryeData | filter : data.ClinicId = clientId">
                                    <div ng-if="data.gallaryImage != ''">
                                        <img src="{{data.gallaryImage }}" alt="{{data.gallaryImage }}" class="listing_image" width="130px" height="130px" style="margin-left:5px;margin-top:5px;" data-toggle="modal" data-target="#my-modal{{$index}}">
                                        <div id="my-modal{{$index}}" class="modal fade" aria-labelledby="my-modalLabel" aria-hidden="true" tabindex="-1" role="dialog">
                                            <div class="modal-dialog" data-dismiss="modal">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                        <img src="{{data.gallaryImage }}" alt="{{data.gallaryImage }}" class="img-responsive" style="width: 100%;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="data.gallaryImage == ''">
                                        <img src="http://www.wpclipart.com/signs_symbol/icons_oversized/male_user_icon.png" alt="{{data.gallaryImage }}" class="img-rounded" style="position:relative; width: 220px; height: 200px;margin-left:10px;margin-top:10px;">
                                    </div>


                                </div>

                            </div>
                        </div>
                    </script>

                    <script type="text/ng-template" id="five.tpl.html">
                        <div id="Contact">
                            <div class="col-lg-12 col-sm-12 col-xs-12 well_new">
                                <div class="col-md-12">
                                    <input type="hidden" id="lat" value="{{ContacteData.lat}}" />
                                    <input type="hidden" id="lng" value="{{ContacteData.long}}" />
                                    <div my-map="" lat="{{ContacteData.lat}}" lng="{{ContacteData.long}}" address1="{{ContacteData.address1}}" address2="{{ContacteData.address2}}">
                                    </div>
                                </div>
                            </div>

                            <div id="map" class="col-xs-6">

                            </div>

                        </div>

                </div>

                </script>
            </div>
            <div class="col-md-12 col-xs-12 well_new">
                <div class="col-md-12">
                    <h3 class="text-center">Other Services</h3>
                    <div itemprop="availableService" class="col-md-3 col-xs-6 bottomlinks center-block Searches" ng-repeat="s in services" itemscope itemtype="http://schema.org/MedicalTherapy">
                        <a itemprop="url" onclick="$(window).scrollTop(10);" href="/{{formData.City}}/{{s | slugifynolower}}/{{formData.Area | slugifynolower}}">
                            <ul>
                                <li> {{s}}{{areaofcats}}</li>
                            </ul>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12 col-xs-12">
                    <h3> Popular Searches on <a href="/"> NX-search.com</a></h3>
                </div>
                <div class="col-md-12 col-xs-12 sidebarList">
                    <div class="col-md-12 col-xs-12">
                        <h5><b> Popular Searches in Health and Medicine</b></h5>
                    </div>
                    <div class="col-md-12 col-xs-12 bottomlinks">
                        <ul>
                            <li class="Searches">
                                <h5> <a itemprop="url" href="/Pune/Dentist" class="Searches"> Dentists in Pune</a></h5>
                            </li>
                            <!-- <li>
                        <a href="#"> Optalmology Clinics in Pune</a>
                    </li>-->
                            <li class="Searches">
                                <h5> <a itemprop="url" href="/Pune/Homeopathy" class="Searches"> Homeopathy Clinics in Pune</a></h5>
                            </li>
                            <li class="Searches">
                                <h5> <a itemprop="url" href="/Pune/Ayurveda" class="Searches"> Ayurvedic Clinics in Pune</a></h5>
                            </li>
                            <li class="Searches">
                                <h5> <a itemprop="url" href="/Pune/Gynecologist" class="Searches"> Gynecology Clinics in Pune</a></h5>
                            </li>
                            <li class="Searches">
                                <h5> <a itemprop="url" href="/Pune/Dermatologist" class="Searches"> Dermatology Clinics in Pune</a></h5>
                            </li>
                            <li class="Searches">
                                <h5><a itemprop="url" href="/Pune/Ear-Nose-Throat-(ENT)" class="Searches"> Ear-Nose-Throat-(ENT) Clinics in Pune</a></h5>
                            </li>
                            <li class="Searches">
                                <h5><a itemprop="url" href="/Pune/Diagnostic-Lab" class="Searches"> Diagnostic-Labs Clinics in Pune</a></h5>
                            </li>
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <hr class="hrline">
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <h5><b> Popular Searches in School and Institutes</b></h5>
                    </div>
                    <div class="col-md-12 col-xs-12 bottomlinks">
                        <ul>
                            <li class="Searches">
                                <h5> <a itemprop="url" href="/Pune/preschool" class="Searches"> Preschools in Pune</a></h5>
                            </li>
                            <li class="Searches">
                                <h5> <a itemprop="url" href="/Pune/Private-Tuitions" class="Searches"> Private-Tuitions in Pune</a></h5>
                            </li>

                    </div>
                    <div class="col-md-12 col-xs-12">
                        <hr class="hrline">
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <h5><b> Popular Searches in Beauty Care</b></h5>
                    </div>
                    <div class="col-md-12 bottomlinks">
                        <ul>
                            <li class="Searches">
                                <h5> <a itemprop="url" href="/Pune/Salon-and-Spa" class="Searches"> Salon-and-Spa in Pune</a></h5>
                            </li>


                    </div>
                    <!-- <div class="fb-share-button" data-href="https://nxsearch.com/{{fpath}}" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></div>-->


                </div>
            </div>
        </div>
    </div>

</div>

</div>
<script>
    var $div = $('.scrollable-menu');
    $(document.body).click(function() {
        if (!$div.has(this).length) { // if the click was not within $div
            $div.hide();
        }

    });
    $("#exampleInputPassword2").click(function() {
        // if the click was not within $div
        $div.show();


    });
</script>