<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQguSQA07nEPpUJ58qHhAlin9Pd0LHBEA"></script>


<div id="todo-form" class="container" ng-controller="dashResultsController as up">
     <div class="ng-hide">
        <h5 style="display: inline" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/">Home</a></h5>&nbsp 
               <i class="fa fa-angle-right" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"></i>&nbsp 
               <h5 style="display: inline" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span id="city"></span></h5>
               &nbsp<i class="fa fa-angle-right" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"></i>
               &nbsp<h5 style="display: inline" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a id="categry" href=""> <span id="category"></span></a></h5>&nbsp
               <i class="fa fa-angle-right" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"></i>&nbsp<h5 style="display: inline" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span id="area"></span>&nbsp</h5>
              &nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp  <h1 style="font-size: 14px; display: inline; "> <b>{{aaa}}</b> matches found for: <b id="keyword"></b></h1>
              <li class="login">
                                   <i id="shareBtn" class="fa fa-facebook-square fa-3x" style="color: #365899; cursor: pointer; padding-top: 15px;"></i>
                                </li>
        </div>

    <!--<div class="col-xs-6" ng-repeat="city in cities">
			<div class ="panel ">
                
				<span class="strong days-timing">{{city.city}}</span>
					<span class="fa fa-trash-o  pull-right" aria-hidden="true"  ng-click="deletecity(city._id)"></span>
			</div>
		</div>-->
    <div class="col-sm-6 text-center" style="outline: solid #108CE4;padding: 1px;width: 48%; float:left; margin: 1%; padding: 15px;">
        <!--<form>
					<div class="form-group">
						<input type="hidden" ng-model="addr._id">
                        <input type="text" class="form-control input-lg text-center" placeholder="City" ng-model="addr.City">
                        <input type="text" class="form-control input-lg text-center" placeholder="Area" ng-model="addr.Area">
                        <input type="text" class="form-control input-lg text-center" placeholder="SubArea" ng-model="addr.SubArea">
						<br />
					</div>
					<button type="submit" class="btn btn-primary btn-lg" ng-click="createaddr()">{{btnValue}}</button>
				</form>-->
        <form style="border: 1px" ;>
            <div class="form-group">
                <label>Add Home Fields</label>
                <input type="hidden" ng-model="formData._id">
                <div ng-repeat="item in tempHomeData">
                    <label>Doc Name</label>
                    <input type="text" ng-model="item.DoctorName" name="" class="form-control text-center" placeholder="Enter a Doc name">

                    <label>Image Path</label>
                    <input type="file" ngf-select="onSelectUploadImage2(item)" ng-model="up.file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" class="center-block" />

                    <img style="width:3%;" ngf-thumbnail="up.file || '/thumb.jpg'" />
                    <i ng-show="up.upload_form.file.$error.required">*required</i><br>
                    <i ng-show="up.upload_form.file.$error.maxSize">File too large 
							{{up.file.size / 1000000|number:1}}MB: max 20M</i>

                    <label>Description</label>
                    <input type="textArea" ng-model="item.Description" name="" class="form-control text-center" placeholder="Enter Description">

                    <hr />
                    <button clas="btn btn-primary" ng-click="addNewCategory()">Add Another record</button>
                </div>
            </div>
            <br />
            <button type="submit" class="btn btn-primary btn-lg" ng-click="addHomeData()">{{btnValue}}</button>
            <br>
        </form>


    </div>

    <!-- Home Service Form Start Here-->
    <div class="col-sm-6 text-center" style="outline: solid #108CE4;padding: 1px;width: 48%; float:left; margin: 1%; padding: 15px;">

        <form>
            <div class="form-group">
                <label>Add Service Fields</label>
                <input type="hidden" ng-model="formData._id">
                <div ng-repeat="item in tempServiceData">
                    <label>Service Name</label>
                    <input type="text" ng-model="item.ServiceName" name="" class="form-control text-center" placeholder="Enter a Service name">

                    <label>Image Path</label>
                    <input type="file" ngf-select="onSelectUploadImage1(item)" ng-model="up.file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" class="center-block" />

                    <img style="width:3%;" ngf-thumbnail="up.file || '/thumb.jpg'" />
                    <i ng-show="up.upload_form.file.$error.required">*required</i><br>
                    <i ng-show="up.upload_form.file.$error.maxSize">File too large 
							{{up.file.size / 1000000|number:1}}MB: max 20M</i>

                    <label>Service Description</label>
                    <input type="textArea" ng-model="item.ServiceInfo" name="" class="form-control text-center" placeholder="Enter Description">

                    <hr />
                    <button clas="btn btn-primary" ng-click="addNewCategory1()">Add Another Service</button>
                </div>
            </div>
            <br />
            <button type="submit" class="btn btn-primary btn-lg" ng-click="addServiceData()">{{btnValue}}</button>
            <br>
        </form>
    </div>

    <!-- Home Gallary Form Start Here-->
    <div class="col-sm-6 col-sm-offset-2 col-xs-6 text-center" style="outline: solid #108CE4;padding: 1px;width: 98%; margin: 1%; padding: 50px;">

        <form>
            <div class="form-group">
                <label><b>Add Images</b></label>
                <div class="clearfix"><br/></div>
                <input type="hidden" ng-model="formData._id">

                <div ng-repeat="item in tempGallaryData" class="text-center">
                    <label>Gallary Image Path</label>
                    <div class="clearfix"><br/></div>
                    <input <input type="file" ngf-select="onSelectUploadImage(item)" ng-model="up.file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" class="center-block" />

                    <img style="width:3%;" ngf-thumbnail="up.file || '/thumb.jpg'" />
                    <i ng-show="up.upload_form.file.$error.required">*required</i><br>
                    <i ng-show="up.upload_form.file.$error.maxSize">File too large 
							{{up.file.size / 1000000|number:1}}MB: max 20M</i>
                    <br/>
                </div>
                <div class="clearfix"><br/></div>
                <button clas="btn btn-primary" ng-click="addNewCategory2()">Add Another Image</button>
            </div>
            <br />
            <button type="submit" class="btn btn-primary btn-lg" ng-click="addGallaryData()">{{btnValue}}</button>
        </form>
    </div>


    <!-- Home Feedback Form Start Here-->
    <div class="col-sm-6 text-center" style="outline: solid #108CE4;padding: 1px;width: 48%; float:left; margin: 1%; padding: 15px;">
        <form>
            <div class="form-group">
                <label>Add Feedback</label>
                <input type="hidden" ng-model="formData._id">

                <div ng-repeat="item in tempFeedbackData">
                    <label>Username</label>
                    <input type="text" ng-model="item.userName" name="" class="form-control text-center" placeholder="Enter a Username ">
                    <label>Feedback</label>
                    <input type="text" ng-model="item.feedback" name="" class="form-control text-center" placeholder="Enter a Feedback ">
                    <label>Likes</label>
                    <input type="text" ng-model="item.likes" name="" class="form-control text-center" placeholder="Enter a Likes ">
                    <label>Dislikes</label>
                    <input type="text" ng-model="item.dislikes" name="" class="form-control text-center" placeholder="Enter a Dislikes ">
                    <hr />
                    <button clas="btn btn-primary" ng-click="addNewCategory3()">Add Another Feedback</button>
                </div>
            </div>
            <br />
            <button type="submit" class="btn btn-primary btn-lg" ng-click="addGFeedbackData()">{{btnValue}}</button>
        </form>
    </div>



    <!-- Home Contact Form Start Here-->
    <div class="col-sm-6 text-center" style="outline: solid #108CE4;padding: 1px;width: 48%; float:left; margin: 1%; padding: 15px;">
        <form>
            <div class="form-group">
                <label>Add Contact</label>
                <input type="hidden" ng-model="formData._id">

                <div ng-repeat="item in tempContactData">
                    <label>Address1</label>
                    <input type="text" ng-model="item.address1" name="" class="form-control text-center" placeholder="Enter a Address ">
                    <label>Address2</label>
                    <input type="text" ng-model="item.address2" id="address" name="" class="form-control text-center" placeholder="Enter a Address ">
                    <label>Mobile</label>
                    <input type="text" ng-model="item.clinicmobile" name="" class="form-control text-center" placeholder="Enter a mobile ">
                    <label>Address</label>


                </div>
                <hr />
                <!--<button clas="btn btn-primary"  ng-click="addNewCategory3()" >Add Another Feedback</button>-->
            </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary btn-lg" ng-click="addcontactData()">{{btnValue}}</button>
    </form>
</div>


</div>