<script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-64739177-2', 'auto');
    ga('send', 'pageview');
</script>



<div><br/></div>
<div class="container">
    <div class="col-md-12 col-xs-12 formbackground2" ng-controller="InstantSearchController">
        <div class="col-md-12 col-xs-12" style="padding-left: 28px">
            <form>
                <div class="col-md-3 col-xs-11 pull-left" style="padding-top: 20px">

                    <!--<label for="exampleInputEmail1"></label>-->
                    <!--<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter City">-->

                    <select class="form-control" select2="" name="city" data-ng-model="client.selectedCityModel" ng-options="c.city as c.city for c in client.cities" ng-disabled="disabled">
												<option value=""><i class="fa fa-map-marker" aria-hidden="true"></i> Select City</option>
											</select>
                    <!--{{client.selectedCityModel}}-->


                </div>

                <div class="col-md-3 col-xs-11 pull-left" style=" padding-top: 20px">
                    <div>
                        <!--<label for="exampleInputPassword1"></label>
                                              <input type="text" class="form-control" id="exampleInputPassword2" placeholder="Start Typing">-->
                        <select class="form-control" select2="" name="city" data-ng-model="MainAreas.selectedAreaModel.Area" ng-options="c.Area as c.Area for c in MainAreas.areas " ng-disabled="disabled">
												<option value="">Select Area</option>
											</select>
                        <!--{{MainAreas.selectedAreaModel}}-->
                    </div>
                    <!--<div class="bar" ng-init="EnableData = false">
												<input type="text" ng-model="searchString" placeholder="Enter your search terms" ng-change="callScriptThenServer()" ng-focus="EnableData= true" ng-blur="EnableData = false"/>
												<ul ng-show="EnableData" >
													<li ng-repeat="i in items | searchFor:searchString" >
														<a href="{{i.url}}"><img ng-src="{{i.image}}" /></a>
														<p>{{i.title}}</p>
													</li>

													{{EnableData}}
												 </ul>
											</div>-->



                </div>


                <div class="col-md-5 col-xs-8 pull-left">

                    <div class="form-group" ng-blur="EnableData = false">
                        <label for="exampleInputPassword1"></label>
                        <input type="text" class="form-control" id="exampleInputPassword2" placeholder="Start Typing" ng-model="searchString" ng-change="callScriptThenServer(searchString)" ng-focus="EnableData= true" ng-click="loadDefaultCategories()" click-anywhere-but-here="EnableData=false"
                        />

                        <div ng-show="EnableTextInputResult == false || EnableData" class="scrollable-menu" style="background-color:white; z-index: 2;border: 1px solid grey;position: absolute;padding-left:2px; width: 100%;height:900px;">
                            <div ng-repeat="i in Categories |  filter : searchString track by $index">
                                <a href="" ng-click="gotoResultsPageByCategory(i)">
                                    <div class="list_dropdown">
                                        <img ng-src="" /><b>{{i}}</b>
                                    </div>
                                </a>
                            </div>
                            <div ng-repeat="i in SubCategories |  filter : searchString track by $index">
                                <a href="" ng-click="gotoResultsPageBySubCategory(i)">
                                    <div class="list_dropdown">
                                        <b>{{i}}</b>
                                    </div>
                                </a>


                            </div>

                            <div ng-repeat="i in clients |  filter : searchString | limitTo:5 track by $index " ng-click="doSomething($event, 1)">
                                <a href="/profile/{{i.City | slugify}}/{{i.Area | slugify}}/{{i.ClinicName | slugify}}/{{i._id | slugify}}">
                                    <div class="list_dropdown">
                                        <img ng-src="{{i.imageUrl}}" class="img-circle" style="max-width:15%; height: auto;" /><b> {{i.ClinicName}}</b>
                                        <br/>
                                    </div>
                                </a>
                            </div>

                            <div ng-repeat="i in clients |  filter : searchString | limitTo:5 track by $index " ng-click="doSomething($event, 1)">
                                <a href="/profile/{{i.City | slugify}}/{{i.Area | slugify}}/{{i.ClinicName | slugify}}/{{i._id | slugify}}">
                                    <div class="list_dropdown">
                                        <span class="text-center; font-weight: bold;">{{i.DoctorName}}</span>
                                        <br/>
                                    </div>
                                </a>
                            </div>

                            <div ng-repeat="i in clients |  filter : searchString | limitTo:5 track by $index " ng-click="doSomething($event, 1)">

                                <a href="/profile/{{i.City | slugify}}/{{i.Area | slugify}}/{{i.ClinicName | slugify}}/{{i._id | slugify}}">
                                    <div class="list_dropdown">
                                        <span class="text-center; font-weight: bold;">{{i.speciality}}</span>
                                        <br/>
                                    </div>
                                </a>
                            </div>



                            <div>
                                <a href="/showResults/{{client.selectedCityModel}}/{{searchString}}"> 
                                                            Clinics named "{{searchString}}"({{searchString.length}})
                                                        </a><br/>
                                <hr style="border-color: lightskyblue;">
                            </div>
                            <div>
                                <a href="/showResults/{{client.selectedCityModel}}/{{searchString}}"> 
                                                            Doctors named "{{searchString}}"({{searchString.length}})
                                                        </a><br/>
                                <hr style="border-color: lightskyblue;">
                            </div>



                        </div>
                        <!--<div class="scrollable-menu" ng-if="searchString.length && EnableData" style="background-color:white; z-index: 2;border: 1px solid grey;position: absolute;padding-left:2px; width: 100%;height:900px;">
                                                
                                                <div ng-show="EnableTextInputResult == true">
                                                    
                                                    <div ng-repeat="i in clients |  filter : searchString | limitTo:5 track by $index " ng-click="doSomething($event, 1)">
                                                        <h5 ng-show="$index == 0"> Doctors </h5>
                                                        <a href="/homepage/{{i._id}}"><img ng-src="" />{{i.DoctorName}}</a><br/>
                                                        <span> {{i.ClinicName}} </span><br/>
                                                        <span>{{i.speciality}}</span>
                                                        <hr style="border-color: lightskyblue;">
                                                    </div>
                                                   
                                                </div>
                                            </div>-->
                        <!--<div ng-show="EnableTextInputResult == false && EnableData" style="background-color:white; z-index: 2;border: 1px solid grey;position: absolute;padding-left:2px; width: 192px;">
                                                <div ng-repeat="i in MainCategoriesData |  filter : searchString track by $index">
                                                    <span><a href="" ng-click="gotoResultsPage(i)"><img ng-src=""  /><b>{{i}}</b></a><hr></span>

                                                </div>
                                            </div>-->

                    </div>
                </div>

                <div class="col-md-1 col-xs-2 pull-left topmargin">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search fa-2x" aria-hidden="true"></i></button>
                </div>
            </form>
        </div>
    </div>



    <div ng-controller="dashResultsController">
        <!--<div class="col-xs-12 text-center">
			<label>Search: <input ng-model="userSearch" class="form-control input-lg text-center"></label>
    </div>-->

        <!--<li><a href="/addCities"><i class="fa fa-shield"></i> AddCities</a></li>-->

        <div class="col-md-9 col-xs-12">
            <div> <span> <a href="{{ currentPath}}">{{ currentPath}}</a></span></div>

            <div class="col-md-6 col-xs-12" dir-paginate="item in results |  orderBy:'Order' | itemsPerPage:10 | filter : userSearch track by $index">

                <div class="col-md-12" style="padding-right: 10px; margin-top: 10px;" itemscope itemtype=https://schema.org/{{item.Categories}}>
                    <div class="col-md-12 col-xs-12 list_borderd" style="padding-left: 20px; min-height: 260px">

                        <div class="col-md-4 col-xs-12 text-center">
                            <div ng-if="item.imageUrl != ''">
                                <img itemprop="photo" src="{{item.imageUrl }}" alt="{{item.ClinicName }}-{{item.Area }}-{{item.City }}-NXsearch.com" class="img-rounded " width="150" height="150" style="position:relative; width: 150px; height: 150px; margin-top:10px;">
                            </div>
                            <div ng-if="item.imageUrl == '' ">
                                <img itemprop="photo" src="http://www.innovativephp.com/demo/impress-js-demos/chapter5/images/aboutme.jpg" alt="{{item.ClinicName }}-{{item.Area }}-{{item.City }}-NXsearch.com" class="img-rounded " width="150" height="150" style="position:relative; width: 150px; height: 150px; margin-top:10px;">
                            </div>
                        </div>

                        <div class="col-md-8 col-xs-11" style="padding-left: 20px;">
                            <h5 class=""><a itemprop="url" ng-href="/profile/{{item.City | slugify}}/{{item.Area | slugify}}/{{item.ClinicName | slugify}}/{{item._id}}"><b> {{item.ClinicName}}</b></a></h5>
                            <span itemprop="person" style="font-size:12px;"><h5> {{item.DoctorName}}</h5></span>
                            <h6 style="font-size:12px;">{{item.Profession}} | {{item.speciality}}</h6>

                            <span style="color:#1e97cc;"><strong><i class="fa fa-star-o" style="color:#1e97cc; font-size:16px;" aria-hidden="true"></i> Experience : </strong></span><span style="font-size:12px;">{{item.Experience}} Years </span></br>
                            <div class="col-xs-12">
                                <div class="col-xs-3">
                                    <span style="color:#1e97cc;"><strong><i class="fa fa-clock-o" style="color:#1e97cc; font-size:16px;" aria-hidden="true"></i> Time :  </strong></span>
                                </div>
                                <div class="col-xs-9" itemprop="openingHoursSpecification" itemtype="http://schema.org/OpeningHoursSpecification">
                                    <div class="col-xs-12">
                                        <span itemprop="opens" style="font-size:12px;">{{item.FirstHalfTime}} |</span>
                                    </div>
                                    <div class="col-xs-12">
                                        <span itemprop="closes" style="font-size:12px;">{{item.SecondHalfTime}}</span>
                                    </div>

                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-3">
                                    <span style="color:#1e97cc;"><strong><i class="fa fa-map-marker"  style="color:#1e97cc; font-size:16px;" aria-hidden="true"></i> Area : </strong></span>
                                </div>
                                <div class="col-xs-9">
                                    <div class="col-xs-12" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                        <span itemprop="addressLocality" style="font-size:13px;">{{item.Area}}</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-4"></div>
                            <div class="col-lg-8 topmargin">
                                <!--<div class="col-lg-6 text-center">
                        <button type="button" class="btn btn-info">Book Appointment</label></button>
                        <!-- <a  href="/aditionalProfile/{{item._id}}" class="btn btn-primary"> Add Additional Profile Data </a></br>
                    </div>-->
                                <div class="col-md-6 col-md-offset-4 col-xs-12 col-xs-offset-5">
                                    <button type="button" class="btn1 btn1-info" data-toggle="modal" data-target="#myModal{{$index}}"><label>Enquire Now</label></button>
                                    <div class="modal fade" id="myModal{{$index}}" role="dialog">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <!-- <script language="javascript">
                                                    function validate() {
                                                        if (document.getElementById("username").value == '') {
                                                            alert("Please provide your full name");
                                                            document.getElementById("username").focus();
                                                            return false;
                                                        }
                                                        if (document.getElementById("useremail").value == '') {
                                                            alert("Please provide email address");
                                                            document.getElementById("useremail").focus();
                                                            return false;
                                                        }
                                                        if (document.getElementById("usermobile").value == '') {
                                                            alert("Please provide Mobile No.");
                                                            document.getElementById("usermobile").focus();
                                                            return false;
                                                        }
                                                    }
                                                </script>-->
                                                <div class="modal-header">
                                                    <script>
                                                        $(document).ready(function() {
                                                            var from, to, subject, text, date, time;
                                                            $("#send_email").click(function() {
                                                                to = $("#username").val();
                                                                subject = $("#ClinicName").val();
                                                                text = $("#usermobile").val();
                                                                from = $("#useremail").val();
                                                                date = $("#date").val();
                                                                time = $("#time").val();
                                                                $("#message").text("Sending E-mail...Please wait");
                                                                $.get("http://nxsearch.com/send", {
                                                                    to: to,
                                                                    subject: subject,
                                                                    text: text,
                                                                    from: from,
                                                                    date: date,
                                                                    time: time
                                                                }, function(data) {
                                                                    if (data == "sent") {
                                                                        $("#message").empty().html("Enquiry send successfully");
                                                                    }

                                                                });
                                                            });
                                                        });
                                                    </script>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h3 class="modal-title pull-left">{{item.ClinicName}}</h3>
                                                </div>
                                                <div class="modal-body">
                                                    <!--   <script src='https://www.google.com/recaptcha/api.js'></script>-->

                                                    <form name="enquiryForm" class="form-horizontal" role="form">
                                                        <!-- Form Name -->

                                                        <!-- Text input-->
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label" for="textinput">Name : </label>
                                                            <div class="col-sm-8" style="padding-right: 10px">
                                                                <input type="text" name="username" id="username" placeholder="Enter Name" class="form-control" ng-required="true">
                                                                <div ng-show="enquiryForm.username.$touched && enquiryForm.username.$invalid">
                                                                    <small style="color: red; display: block; text-align: center">Please Enter Name</small>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- Text input-->
                                                        <div class="form-group" style="padding-right: 10px">
                                                            <label class="col-sm-2 control-label" for="textinput">Mobile : </label>
                                                            <div class="col-sm-4">
                                                                <input type="text" name="usermobile" id="usermobile" placeholder="Enter Mobile Number" ng-minlength="10" ng-maxlength="10" class="form-control" ng-required="true">
                                                                <div ng-show="enquiryForm.mobile.$touched && enquiryForm.mobile.$invalid">
                                                                    <small style="color: red; display: block; text-align: center">Please Enter Valid Mobile Number</small>
                                                                </div>
                                                            </div>

                                                            <label class="col-sm-2 control-label" for="textinput">Email : </label>
                                                            <div class="col-sm-4">
                                                                <input type="email" name="useremail" id="useremail" placeholder="Enter Valid Email " class="form-control" ng-required="true">
                                                            </div>
                                                        </div>

                                                        <!-- Text input-->


                                                        <!-- Text input-->
                                                        <div class="form-group" style="padding-right: 10px">
                                                            <label class="col-sm-2 control-label" for="textinput">Date : </label>
                                                            <div class="col-sm-4">
                                                                <input type="date" id="date" name="date" placeholder="Pick Date" class="form-control" ng-required="true">
                                                            </div>

                                                            <label class="col-sm-2 control-label" for="textinput">Time : </label>
                                                            <div class="col-sm-4">
                                                                <input type="time" id="time" name="time" placeholder="Pick Time" class="form-control" ng-required="true">
                                                            </div>
                                                        </div>

                                                        <!--  <div class="g-recaptcha" data-sitekey="6LfxPhMUAAAAAMGDdjN1FQ4eCY_fRL3ejKXAu5dj"></div>-->

                                                        <!-- Text input-->
                                                        <h4 class="pull-left">Your Enquiry For :</h4><input type="text" id="ClinicName" name="ClinicName" class="form-control" value="{{item.ClinicName}}" readonly>

                                                        <input name="btnSubmit" type="submit" class="bt btn-primary" ng-disabled="enquiryForm.$invalid" value="Submit" id="send_email" />
                                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <span id="message"></span>
                                                </div>


                                            </div>
                                            <!-- Modal end here -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
            <dir-pagination-controls max-size="5" direction-links="true" class="pull-right"></dir-pagination-controls>

        </div>

    </div>

</div>