<div class="container-fluid" style="background-color: #f1efef;">
    <div class="col-md-3">
        <nav class="navbar navbar-inverse">
            <ul class="nav nav-pills nav-stacked" ng-if="isAuthenticated">
                <!--<li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="/login"><i class="fa fa-user"></i> Login/Register</a></li>-->
                <li><a href="/addCities"><i class="fa fa-shield"></i> AddCities</a></li>
                <li><a href="/categories"><i class="fa fa-shield"></i> AddCategories</a></li>
                <li><a href="/addClient"><i class="fa fa-shield"></i> AddClients</a></li>
                <li><a href="/showResults"><i class="fa fa-shield"></i> showResults</a></li>
                <li><a href="/clientlist"><i class="fa fa-user"></i>Clientlist</a></li>
                <!-- <li><a href="/homepage"><i class="fa fa-user"></i>profile</a></li>-->
                <li ng-controller="loginController"><button class="btn btn-danger" ng-click="logout()"><i class="fa fa-user"></i> LogOut </button></li>
                <span class="fa fa-user pull-right"> <b></b>Hello<b> Admin</b></span>
            </ul>
        </nav>
    </div>
    <div class="col-md-9">
        <div id="todo-form" class="container" ng-controller="citiesController">
            <div class="col-xs-12">
                <!--<div class ="panel ">
				<span class="strong days-timing">{{city.city}}</span>
					<span class="fa fa-trash-o  pull-right" aria-hidden="true"  ng-click="deletecity(city._id)"></span>
			</div>-->
                <table class="table">
                    <thead class="thead-default">
                        <tr>
                            <th> City</th>
                            <th>Edit</th>
                            <th> Area</th>
                            <th> Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="city in cities">
                            <td>{{city.city}} </td>
                            <td> <a href="/updateCity/{{city._id}}"><button type="button" class="btn1 btn1-info"> Edit</button> </a></td>
                            <td> <label ng-repeat="rec in city.areas"> {{rec.Area}}<span ng-if="rec.Area.length">, </span>  </label> </td>
                            <td><input type="button" value="Delete" class="btn btn-danger pull-right" aria-hidden="true" data-toggle="modal" data-target="#myModal{{$index}}">
                                <div class="modal fade" id="myModal{{$index}}" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h3 class="modal-title pull-left">Are You Want To Delete <b>{{city.city}}</b></h3>
                                            </div>
                                            <div class="modal-body pull-left">
                                            </div>
                                            <div class="modal-footer">
                                                <button ng-click="deletecity(city._id)" type="button" class="btn btn-primary" data-dismiss="modal">Delete</button>
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-8 col-sm-offset-2 text-center">
                <!--<form>
					<div class="form-group">
						<input type="hidden" ng-model="addr._id">
                        <input type="text" class="form-control input-lg text-center" placeholder="City" ng-model="addr.City">
                        <input type="text" class="form-control input-lg text-center" placeholder="Area" ng-model="addr.Area">
                        <input type="text" class="form-control input-lg text-center" placeholder="SubArea" ng-model="addr.SubArea">
						<br />
					</div>
					<button type="submit" class="btn btn-primary btn-lg" ng-click="createaddr()">{{btnValue}}</button>
				</form>-->
                <form name="citiesform">
                    <div class="form-group">
                        <label for="Category">City</label>
                        <input type="hidden" ng-model="formData._id">
                        <input type="text" ng-model="formData.city" name="city1" class="form-control text-center" placeholder="Enter City" ng-required="true">
                        <div ng-show="citiesform.city1.$touched && citiesform.city1.$invalid">
                            <small style="color: red; display: block; text-align: center">Please Enter City</small>
                        </div>
                        <div ng-repeat="cat in tempCategories">
                            <label for="Category">Area</label>
                            <input type="text" ng-model="cat.id" name="area" class="form-control text-center" placeholder="Enter a area" ng-required="true">
                            <div ng-show="citiesform.area.$touched && citiesform.area.$invalid">
                                <small style="color: red; display: block; text-align: center">Please Enter Area</small>
                            </div>
                            <hr />
                            <label for="choice">Sub-Area</label>
                            <div class="form-group" ng-repeat="choice in cat.subs">
                                <input type="text" ng-model="choice.name" name="subarea" class="form-control text-center" placeholder="Enter a sub area">
                            </div>
                            <button class="btn btn-outline-info" ng-click="addNewSubCategories(cat.id)">Add another Sub-Location</button>
                            <hr />
                            <button class="btn btn-default" ng-click="addNewCategory()">Add Area</button>
                            <button class="btn btn-info" ng-click="clearForm()">Clear Form</button>
                        </div>
                    </div>

                    <br />
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="createEditRec()" ng-disabled="citiesform.$invalid">{{btnValue}}</button>
                </form>
            </div>
        </div>
    </div>
</div>